[2014-07-24 11:35] hpique opened #1 "Set image in memory cache with key"

[2014-07-24 11:36] hpique opened #2 "Get image from memory cache with key"

[2014-07-24 11:36] hpique opened #3 "Clear memory cache on memory warning"

[2014-07-24 11:39] hpique opened #4 "Use cache name as disk folder"

[2014-07-24 11:40] hpique opened #5 "Save image to disk in setImage"

[2014-07-24 11:42] hpique opened #6 "Return image from disk if key not present in memory cache"
Also, add image to memory cache after reading it from disk.

[2014-07-24 11:44] hpique opened #7 "Remove image from memory cache"

[2014-07-24 11:45] hpique opened #8 "Asynchronously remove image from disk cache in removeImage"

[2014-07-24 11:47] hpique opened #9 "Calculate cache disk size on initialization"

[2014-07-24 11:47] hpique opened #10 "Update cache disk size when adding images"

[2014-07-24 11:47] hpique opened #11 "Update cache disk size when removing images"

[2014-07-24 11:50] hpique opened #12 "Remove least recently used images when cache disk capacity is reached"
Use arbitrary capacity for now.

[2014-07-24 11:52] hpique opened #13 "Update access date when reading images from disk"

[2014-07-24 11:53] hpique opened #14 "Update access date when reading images from memory"

[2014-07-24 11:54] hpique opened #15 "Use md5 hash as disk cache filename if key is too long"

[2014-07-24 11:55] hpique opened #16 "Escape invalid key characters for disk image filename"

[2014-08-04 08:29] #2 closed, assigned to nobody

[2014-08-08 17:02] #7 closed, assigned to hpique

[2014-08-08 17:06] #3 closed, assigned to hpique

[2014-08-08 17:10] #1 closed, assigned to nobody

[2014-08-10 11:26] #4 closed, assigned to hpique

[2014-08-11 13:09] #5 closed, assigned to hpique

[2014-08-11 14:10] #8 closed, assigned to hpique

[2014-08-24 15:53] #9 closed, assigned to hpique

[2014-08-24 15:53] #10 closed, assigned to hpique

[2014-08-24 15:53] #11 closed, assigned to hpique

[2014-08-26 17:57] hpique opened #26 "Add image formats to Cache"
Formats acts as cache buckets, a secondary key for setting/fetching/removing objects from the cache.

For the scope of this issue, formats must have a name which should be also the name of the directory where its images are stored.

In the original Haneke, only `Cache` knows about formats. Each format has its `DiskCache`, so `DiskCache` doesn't know about them.

[2014-08-26 17:59] hpique opened #27 "Image resizing"
Support image resizing by specifying the desired image size in the format.

Images must be resized in background prior to being cached.

[2014-08-26 18:01] hpique opened #28 "Image scaling modes and upscaling"
Support scaling modes by specifying them in formats. In particular: Fill, Aspect fill, Aspect fit, and No scaling.

Additionally, allow formats to define if images can be upscaled or not.

[2014-08-26 18:02] hpique opened #29 "Disk capacity in format"
Each format must have its own disk capacity.

[2014-08-26 18:04] hpique opened #30 "Compression quality"
Allow to specify the desired compression quality at format level.

[2014-08-26 18:06] hpique opened #31 "Pre-resize and post-resize transformations"
Allow formats to define pre-resize and post-resize transformations (e.g., rounded corners) for the images.

[2014-08-26 18:12] hpique opened #32 "Parent format"
Allow formats to have a "parent" format. If an image is not available in the cache, Haneke should attempt to create it from the parent format (if any). This should work recursively.

For example, this is useful when you have a "fullsize" format and a "thumbnail" format. "fullsize" would be the "thumbnail" parent.

This feature is not currently available in the original Haneke.

[2014-08-27 15:05] hpique opened #33 "Get format by name from Cache"

[2014-08-29 01:18] hpique opened #34 "Should we prefix extension functions?"
Should we prefix extension functions? E.g., `hnk_hasAlpha` in the UIImage extension.

On one hand Swift is not dynamic so collisions would generate compiler errors.

On the other hand, I have no idea what would happen if compiled code runs in a future iOS version in which one of our extension methods is added.

[2014-08-29 01:21] hpique opened #35 "Convention for naming unit tests methods"
What one should we follow?

[2014-08-29 21:45] #12 closed, assigned to hpique

[2014-08-30 11:42] #26 closed, assigned to hpique

[2014-08-30 17:28] hpique opened #39 "Move HanekeSwift to Haneke organization"
I'll do it as soon we merge all current PRs.

[2014-08-30 20:44] #16 closed, assigned to hpique

[2014-08-31 17:25] #29 closed, assigned to hpique

[2014-09-09 15:48] hpique opened #42 "Decompress images read from the disk cache"

[2014-09-09 15:49] #27 closed, assigned to nobody

[2014-09-09 15:49] #28 closed, assigned to nobody

[2014-09-09 19:03] #39 closed, assigned to nobody

[2014-09-09 19:06] hpique opened #44 "Introduce entities"
Entities should be objects that know how to fetch an image asynchronously. These can be given to the Cache instead of a key when fetching.

[2014-09-09 19:09] hpique opened #45 "Network entity"
Fetches an image from the network.

[2014-09-09 19:09] hpique opened #46 "Disk entity"
Fetches an image from disk.

[2014-09-09 23:21] #6 closed, assigned to hpique

[2014-09-09 23:21] #13 closed, assigned to hpique

[2014-09-10 11:47] hpique opened #48 "Apply format in cache"
Apply format when fetching an original image from its entity.

[2014-09-10 20:50] #44 closed, assigned to hpique

[2014-09-11 10:29] hpique opened #51 "Shared cache"
Singleton cache to be used in UIKit extensions.

[2014-09-11 10:31] hpique opened #52 "UIImageView format"
Allow to associate a format with a UIImageView. Return a format that describes the UIImageView if none is given.

[2014-09-11 10:31] hpique opened #53 "UIImageView set image"

[2014-09-11 10:31] hpique opened #54 "UIImageView set image from path"

[2014-09-11 10:32] hpique opened #55 "UIImageView set image from URL"

[2014-09-11 10:32] hpique opened #56 "UIImageView set image from entity"

[2014-09-11 10:33] hpique opened #57 "Cancel set image in UIImageView"

[2014-09-11 10:48] hpique opened #59 "Entity<T>"

[2014-09-11 10:53] hpique opened #60 "Format<T>"
Format currently has logic that is specific to images. This will have to go elsewhere. Maybe into something like `ImageTransformer : Transformer`, of which Format<T> has an instance.

[2014-09-11 10:54] hpique opened #61 "Cache<T>"

[2014-09-11 10:55] hpique opened #62 "Make sure Cache can be used with String and NSData"

[2014-09-11 11:36] #48 closed, assigned to hpique

[2014-09-11 11:37] #42 closed, assigned to hpique

[2014-09-11 17:36] #51 closed, assigned to hpique

[2014-09-12 16:38] hpique opened #64 "Not happy with the name Entity. Should we rename?"
The name `Entity` does not convey the responsibilities declared by the protocol. It's too vague. Should we rename it?

Ideas:
- `Fetcher`: an entity basically fetches and object to be cached
- `Cacheable`
- `CacheObject` (should be `CacheImage`, but I'm thinking of Cache being generic)
- `LazyObject`

[2014-09-13 14:39] #30 closed, assigned to nobody

[2014-09-16 22:10] #45 closed, assigned to hpique

[2014-09-17 03:52] hpique opened #70 "Add format parameter to UIImageView methods"
We can't associate a format with a UIImageView because formats are structs.

As a workaround, the various setImage\* methods can take a format argument.

[2014-09-17 12:26] #52 closed, assigned to hpique

[2014-09-17 12:26] #53 closed, assigned to hpique

[2014-09-17 12:26] #56 closed, assigned to hpique

[2014-09-17 13:01] #64 closed, assigned to nobody

[2014-09-17 13:09] hpique opened #74 "Demo with remote images"

[2014-09-17 13:09] hpique opened #75 "Demo with local images"

[2014-09-18 08:19] #14 closed, assigned to joanromano

[2014-09-18 22:55] #55 closed, assigned to hpique

[2014-09-18 23:21] #57 closed, assigned to hpique

[2014-09-18 23:21] #74 closed, assigned to hpique

[2014-09-18 23:21] #34 closed, assigned to nobody

[2014-09-19 00:07] #59 closed, assigned to nobody

[2014-09-19 00:07] #60 closed, assigned to nobody

[2014-09-19 00:07] #61 closed, assigned to nobody

[2014-09-21 11:45] hpique opened #79 "Extend UIButton to set the foreground image from a fetcher"

[2014-09-21 11:46] hpique opened #80 "Extend UIButton to set the background image from a fetcher"

[2014-09-21 11:46] hpique opened #81 "Extend UIButton to set the foreground image from an image, path or url"

[2014-09-21 11:46] hpique opened #82 "Extend UIButton to set the background image from an image, path or url"

[2014-09-21 19:53] hpique opened #84 "Refactor unit test names"
Using the nomenclature defined in #35.

[2014-09-21 23:01] #46 closed, assigned to joanromano

[2014-09-21 23:03] #62 closed, assigned to nobody

[2014-09-21 23:20] #35 closed, assigned to nobody

[2014-09-24 01:35] djtarazona opened #87 "Crash on DeinitObserver deinit"
[code]

My app is crashing when trying to access `object` in DeinitObserver's deinit.  I solved this with optional chaining...

[code]

Running Xcode 6.0 (6A313)

[2014-09-28 09:27] #87 closed, assigned to nobody

[2014-09-29 04:44] cambridgemike opened #92 "Use of undeclared type NSObject"
I'm getting the above error on the line:

[code]

What's the right way to install a library like this in Swift? I just added the files in the Haneke folder into my project and added "import haneke" into the .swift file I wanted to use it in.

[2014-09-29 06:35] #92 closed, assigned to nobody

[2014-10-08 12:24] hopiaw opened #95 "Why a frame is mandatory when using Haneke with UIImageView?"
Hi Hermes,

I was wondering why your library check by default the bounds of the image view and resize it to its size.

When using constraints (with visual format language), that's a problem cause I want to be able to declare my image view as following:

[code]

Constraints will then set the frame when layout will be applied.

Why not simply not resizing the image downloaded if no bounds? If that c

[2014-10-08 20:45] #70 closed, assigned to hpique

[2014-10-09 01:03] #95 closed, assigned to nobody

[2014-10-11 02:26] #31 closed, assigned to nobody

[2014-10-13 17:34] #80 closed, assigned to joanromano

[2014-10-13 17:36] #82 closed, assigned to joanromano

[2014-10-13 22:24] jamescmartinez opened #98 "Linker error when following README code"
Hey there.

In a brand new project (just made a new one to make sure), the following code causes a linker error.

[code]

This is code directly pulled from your README here: https://github.com/Haneke/HanekeSwift#using-the-cache

![screenshot 2014-10-13 15 20 22](https://cloud.githubusercontent.com/assets/1286597/4621137/2bb4f9ac-5327-11e4-86a8-345d2c407eca.png)

![screenshot 2014-10-13 15 21 36](h

[2014-10-13 23:01] #98 closed, assigned to nobody

[2014-10-14 13:05] eridbardhaj opened #100 "Error <OHHTTPStubs/OHHTTPStubs.h> not found"
I downloaded the project and opened the workspace. when running targets Haneke and HanakeDemo error <OHHTTPStubs/OHHTTPStubs.h> not found (Xcode 6.0.1). Also I don't understand how to install this, can you provide steps how to integrate it to my project?

[2014-10-14 15:51] jamescmartinez opened #101 "Caching file, returning disk URL to retrieve later"
Hey there!

I have a requirement to cache video data, but then retrieve the URL location for that data. The reason for this is an `AVAsset` cannot be created using `NSData`, only via a URL.

A very hacky (and very unreliable) way to do it now via Haneke is to do the following:

[code]

What are your thoughts on how this should be handled? Should I forego using Haneke for this specific feature and

[2014-10-14 23:30] #100 closed, assigned to nobody

[2014-10-15 11:13] #101 closed, assigned to nobody

[2014-10-15 23:23] #15 closed, assigned to nobody

[2014-10-15 23:52] #79 closed, assigned to joanromano

[2014-10-15 23:54] #81 closed, assigned to joanromano

[2014-10-17 17:22] iveoles opened #104 "Set cache expiration time"
Hi

Is there a place to set a cache duration? I'm using it to cache json feeds, but I'd only like the cache to last for a few hours.

Thanks

[2014-10-18 01:40] justinmakaila opened #105 "Overwrite stored image"
How would i overwrite a stored image for all formats? For instance, when a user changes his profile picture, how would i ensure that every image for the URL key is overwritten with that image?

[2014-10-19 12:23] joanromano opened #109 "hnk_setImage failure block"
Currently UIImage's `hnk_setImage` extension method doesn't have a failure block parameter, whereas the UIButton `hnk_setImage`and `hnk_setBackgroundImage` counterparts do have it, which is a bit inconsistent.

Which should be the proper one?

[2014-10-19 15:14] #54 closed, assigned to joanromano

[2014-10-19 16:20] #109 closed, assigned to nobody

[2014-10-20 00:26] jmacmullin opened #111 "Support iOS7"
Swift apps can run on iOS7. It'd be nice if I could still use HanekeSwift on iOS7 too. Obviously iOS7 doesn't support frameworks so including Haneke in my app won't be as simple, but is there any reason Haneke wouldn't work on iOS7? Or you using (or planning to use) iOS8 specific APIs?

[2014-10-20 14:28] #105 closed, assigned to nobody

[2014-10-21 06:32] #84 closed, assigned to nobody

[2014-10-23 04:01] justinmakaila opened #112 "Cache Invalidation/Overwrites"
Hey guys, I know I posted an issue about this before, but the cache doesn't seem to be overwriting my image.

For example:

[code]

Where `setupTableHeader` is supposed to set the image view to the `currentUser.profileImageUrl`.

Should I invalidate the key first? Am I missing something?

[2014-10-28 00:31] Jeehut opened #113 "Error: Missing argument for parameter 'value' in call"
I try to use the following line of Code in XCode 6.1 in Swift (HanekeSwift v0.8.0):

[code]

But the result is always the error message from the title.
Anyone know what's the problem and how to solve this? Thanks for any help!

[2014-10-28 05:35] #113 closed, assigned to nobody

[2014-10-28 18:10] jpotts18 opened #114 "Can we put this into a Cocoapod?"

[2014-11-02 03:15] SteveNewhouse opened #115 "EXC_BAD_ACCESS in UIImage+Haneke.swift"
Line 56:

[code]
This is happening during app startup in simulator... run it again, and it usually works. Seen it several times now.  XCode 6.1, iOS 8.1.

Will try to post more info + trace next time I see it.

[2014-11-06 10:27] dmendis opened #116 "iOS7 Support"
I know the library specifies iOS8+, but I wanted to check if anyone has gotten Haneke working on iOS7? Given the slow adoption of iOS8, I would love to make my Swift app support iOS7 as well! I know Alamofire provides a way to work in iOS7.

[2014-11-06 10:31] #116 closed, assigned to nobody

[2014-11-07 10:30] #112 closed, assigned to nobody

[2014-11-08 22:19] kutschenator opened #117 "EXC_BAD_ACCESS on iPhone 5 Sim and older running the Tests"
XCode 6.1 (6A1052d)
Running Tests iPhone 5 Simulator (8.1) or iPhone 4s Simulator (8.1)
DiskCache.removeData crashes

[2014-11-09 16:28] #117 closed, assigned to nobody

[2014-11-10 13:08] harshcs opened #120 "Improper placement of images on scrolling the tableview"

[2014-11-12 22:50] PFloding opened #121 "Multiple requests for the same URL not combined?"
Hi!
I have tried to figure out how repeated requests for the same ULR would be handled.
Ideally, if one request is waiting for completion, all others should wait for the same completion rather than causing a bunch of URL requests to the exact same address.
After some code reading (which was way above my level) I resorted to setting breakpoints and adding println()s.
It does seem all requests for t

[2014-11-16 18:10] cyril94440 opened #122 "Cocoapod support"
Awesome lib but it misses pod support

[2014-11-17 08:20] #122 closed, assigned to nobody

[2014-11-18 07:25] fabdarice opened #124 "Getting Image Size when using hnk_setImageFromURL"
Hi,
I was wondering how can I get the image size when pulling the image from an URL using hnk_setImageFromURL.

Example :
self.profile_pic.hnk_setImageFromURL("http://blabla.com")
println(self.profile_pic.image.size.width)
  => return nil

[2014-11-18 18:33] #124 closed, assigned to nobody

[2014-11-18 19:16] hpique opened #125 "removeAll doesn't remove UIKit extension formats before using them"
Original post from @PFloding:

[2014-11-18 19:16] #121 closed, assigned to nobody

[2014-11-20 06:35] fabdarice opened #126 "Error occurring randomly while using hnk_setImageFromURL"
Hi,

I'm using Haneke to retrieve an image from an URL using hnk_setImageFromURL like this
var profileImage : UIImageView!
profileImage.hnk_setImageFromURL("http://randomwebsite.com/photo.png")

However, I get sometimes (like maybe one out of 5 times) an error while running the iOS simulator :
Thread 4 : EXC_BAD_ACCESS(code=1, address=0x2a8) at the following line of this function :
func hnk_decomp

[2014-11-20 14:30] #126 closed, assigned to nobody

[2014-11-25 00:27] rainypixels opened #127 "Honor cache-control headers for image refreshes"
The service I'm working on overwrites images with new ones at the same URL. When a user changes their profile image, for example, the new image takes the place of the old one at the same URL. As I understand it, something similar to [`SDWebImageRefreshedCache`](https://github.com/rs/SDWebImage#handle-image-refresh) option isn't supported in HanekeSwift today?

As a little more background: our imag

[2014-12-02 15:33] natpicone opened #128 "Fetch with custom headers"
Hi,
my auth schema requires to send out some custom headers while fetching images and json.
Which is the best way to add this ?

Thanks a lot,
Cheers

[2014-12-04 09:10] Yinear opened #129 "How to do refresh?"
I want to fetch the remote file first,  If it fails, use the cached file.
Can we do that now ?  Or I missed something?  Thank you!

[2014-12-09 17:33] kolisko opened #130 "linker command failed with exit code 1"
Hi, I would like to ask you what could be wrong when I get following error:

[code]

[code]

Testing on Xcode 6.1

Thank you!
Michal

[2014-12-09 17:58] #130 closed, assigned to nobody

[2014-12-09 19:40] kolisko opened #131 "json cache question"
Hi, I would like to ask you if is possible to use Haneke to cache remote json file by calling fetch from url method, then kill the app, run app again without network access and call the fetch from url again to get it from local cache automatically? If so how can I do that pls?

Example in readme.md shows how to fetch it from url and manage json data in onSuccess method only.

Thank you, Michal

ED

[2014-12-10 22:19] yjradeh opened #132 "transparent png has black background"
![ios simulator screen shot dec 11 2014 12 23 07 am](https://cloud.githubusercontent.com/assets/1369267/5385557/eca546c2-80cb-11e4-956a-7c0c47816f14.png)

[2014-12-28 16:59] hcri50 opened #133 "Is there a Tutorial other than the one here?"
I am not having any success.
Can someone point me to a Tutorial Please

[2014-12-28 18:09] hcri50 opened #134 "Seeking Help // I am getting Definition conflicts with previous value"
let cache = Shared.JSONCache
let cache = Haneke.sharedJSONCache  // I am getting Definition conflicts with previous value
let URL = NSURL(string: "https://api.github.com/users/haneke")!

cache.fetch(URL: URL).onSuccess { JSON in
   println(JSON.dictionary?["bio"])
}

Any help for learning this would be deeply appriciated

[2015-01-03 03:47] mohsen1 opened #136 "Make "URL" argument name optional for cache.fetch method"
[code]

`cache.fetch(URL).onSuccess {...` reads better.

[2015-01-09 00:32] djtarazona opened #138 "How do you subclass Fetcher?"
I'm trying to subclass `Fetcher<T>` but it appears to have no public initializers.

The compiler is telling me
`cannot be constructed because it has no accessible initializers` when I try to instantiate my custom fetcher class.

[code]

When I try to add my own initializer and call `super.init()` (as required by Swift), I get the message `Fetcher<T> does not have a member named 'init'`

[code]

[2015-01-12 13:40] hjalmarsn opened #140 "Prefetching/preloading images to disk"
Love Haneke and use it in many applications. Although, it would be nice if you could prefetch URLs/images to the diskCache eg for offline use further on.

The problem is that if you call:
 cache.fetch(URL: queueImageDownloads[0], success:{ image in
                println("Success!")
            })

You quickly run into memory warnings. What's the best way to prefetch to disk using Haneke?

[2015-01-12 13:44] yourdeveloper opened #141 "Question: Download from S3 bucket with non public ACL"
Is it possible to use haneke to download an image from a non public S3 URL by reading the configuration from S3 like you would normally do with the AWS SDK

 var transferManager: AWSS3TransferManager = AWSS3TransferManager.defaultS3TransferManager()
        var uploadRequest: AWSS3TransferManagerUploadRequest = AWSS3TransferManagerUploadRequest()

[2015-01-12 20:32] glenselle commented on #133
@hcri50 The README is pretty clear and your question is very vague. I'd suggest you either ask your question over on StackOverflow and provide as much detail as possible. Or, if you think there's an actual issue with Haneke, describe it in more detail. Opening issues for trivial reasons like "it's not working" doesn't help you (since nobody knows what your problem is) and just adds more work for m

[2015-01-13 00:01] hpique commented on #133
I agree with @glenselle but I also recognize that both this version of Haneke and the Swift community at large are new enough to be a bit more lenient than with other projects. @hcri50, if you feel like articulating with detail what you tried and what you failed to achieve we might be able to help you. In the meantime, I'm closing this.

[2015-01-13 00:01] #133 closed

[2015-01-13 00:02] hpique commented on #141
You will have to implement your own fetcher. They're extensible to support use cases like this. Check out the source and if you hit any roadblocks, feel free to open another issue.

[2015-01-13 00:02] #141 closed

[2015-01-13 00:08] hpique commented on #140
Memory warnings are not necessarily bad. The memory cache will be emptied and that's it. Care to elaborate?

You could always bypass the memory cache and use DiskCache directly. I guess we could also add an option to skip the memory cache to make this simpler.

[2015-01-13 01:56] hpique commented on #131
I might be missing something but that's exactly what fetch does. If you don't need the data when you call fetch, then simply don't provide a success block.

[2015-01-13 01:58] hpique commented on #128
@jimmyhillis Yep. That's exactly why the session is public. :)

[2015-01-13 01:58] #128 closed

[2015-01-13 02:00] hpique commented on #136
It would read better it the fetch convenience methods only worked with URLs. They also accept paths, so no can do.

[2015-01-13 02:00] #136 closed

[2015-01-13 02:01] #134 closed

[2015-01-13 02:06] hpique commented on #129
This should be supported when we add expiration policies.

[2015-01-13 02:06] hpique commented on #129
Related to #104.

[2015-01-13 09:37] francosolerio commented on #115
I tried the workaround by @nickoneill moving the cache to a property on the application delegate or some view controller, but the problem remains. Every 2/3 launches, while displaying a tableview with many UIImageViews loaded by haneke, the app crashes.

[2015-01-13 18:52] kolisko commented on #131
Hi hpique, thank you for answer. I need the data when call fetch. But when network will be not available I think onSuccess block will not be called, is it right? Then I can not access cached (previously downloaded) file using this method or can I?

[2015-01-14 18:52] coylums commented on #104
+1

[2015-01-14 19:15] coylums opened #144 "Convenience method for fetching UIImage with completion blocks."
I see the potential for a use case for fetching and caching a UIImage with success/failure blocks without the need for UIImageView. I'm working on this now and can submit a pull request if this could be added to the project?

Thanks!

[2015-01-15 00:21] hpique commented on #144
Why not use fetch on Cache?

[2015-01-15 04:06] fabdarice commented on #115
I still have this problem? Is anyone working on it?

[2015-01-15 15:24] AvdLee commented on #111
Any news on this? I'm thinking to implemented HanekeSwift instead of SDWebImage, but I need iOS 7 support for this.

[2015-01-15 20:05] sharpfive opened #145 "Crash when setting image for zero sized Image View"
Crash happens after the downloading an image for the first time.

logoImage.frame = CGRectZero
logoImage.hnk_setImageFromURL(logoImageURL)

Crash happens in:
Haneke.ImageResizer.resizeImage

Subsequent calls to set_ImageFromURL do not crash if the image has been downloaded and resized previously.

Installed via Carthage
github "Haneke/HanekeSwift" "v0.8.1"

[2015-01-15 20:46] sharpfive commented on #145
There are explicit asserts in the resizing code.

Format.resizeImage

[2015-01-15 21:24] coylums commented on #115
I am able to repeat this issue as well.  Will be looking into it further. Everything else is working great.

[2015-01-15 21:53] coylums commented on #115
I'm having trouble repeating in the latest beta of XCode (6.2), could be a XCode bug?  Anyone else having issues in the beta?

[2015-01-15 22:12] francosolerio commented on #115
I can confirm the bug is present with XCode 6.2 beta 3 (6C101). I'll download beta 4 tomorrow and have some tests.

[2015-01-15 23:35] eyeballz commented on #111
you can use my fork which works for iOS7
i don't think Haneke Swift will officially support iOS7 since there are a lot of drawbacks.

[2015-01-16 22:12] francosolerio commented on #115
Installed beta 4, cleaned build. Rebuilt and run. First two runs produced the same crash.

[2015-01-17 01:09] hpique opened #146 "Back in February"
Heya. I haven't been able to work in this project lately, mostly due to the holidays and now vacation. I should be back to actively contributing in early February.

If you're comfortable with Haneke, I would greatly appreciate if you can respond to issues and help fellow Haneke users.

[2015-01-20 18:54] coylums commented on #144
Fetch on Cache worked successfully.  I added and will be using a convenience method on UIIMage, I can submit a pull request if you'd like to review/merge?

[2015-01-20 20:44] sebbean commented on #140
I would also utilize this feature. Are formats the only way to enable disk cache?

I'm hoping to pre-cache all images in the background when the first API response is received.

[2015-01-21 16:15] coylums commented on #115
Yeah, it's doing the same for me too. Going to research further.

[2015-01-24 15:33] attheodo opened #147 "Haneke with SwiftyJSON: 'JSON' is ambiguous for type lookup in this context"
Hello, I am working on a project that includes both SwiftyJSON and Haneke as Pods from Cocoapods. I import SwiftyJSON and HanekeSwift in my AppDelegate. However I am getting ` 'JSON' is ambiguous for type lookup in this context` in this line statement `var chatChannels: Array<JSON>?`. Same thing applies if I try to only include HanekeSwift in a UITableViewCell subclass where I need to load some im

[2015-01-24 16:10] attheodo commented on #147
I temporarily fixed this by commenting out all JSON related formats from of Haneke. Anything less ugly?

[2015-01-25 18:10] joanromano commented on #146
Hey there! I've been also out due basically to vacation and the hard launch of the project I work for. I'd love to get back to HanekSwift in February as well.

[2015-01-25 18:13] joanromano commented on #114
Today I was trying to take advantage of the new pre version of Cocoapods and submit the public podspec to the repo, so that we can merge the podspec branch to master here.

However, I am getting a `error: no such module 'UIKit'` when I first attempt to lint the podspec. While I am trying to solve this any help would be appreciated. I believe we should be able to do this since Alamofire has his own

[2015-01-27 13:35] Garnel commented on #147
I use Haneke instead... Seems that you use HanekeSwift only to load image, Haneke is enough

[2015-01-27 13:37] attheodo commented on #147
@Garnel this answer is not really constructive.

Anyway, I figured the proper way to resolve this. I needed to explicitly declare the framework from which the Type I wanted to use. In that case that'd be `var chatChannels: Array<Alamofire.JSON>?`

[2015-01-27 14:07] Garnel commented on #147
@attheodo Sorry, I used to use HanekeSwift in a project targeting iOS7, you know iOS7 has no frameworks, It's impossible to place SwiftJSON and HanekeSwift together. So I turn back to Haneke instead, and it just works.

Seems your solution do it more `swiftly`

[2015-01-27 20:15] mikenolimits commented on #114
http://prntscr.com/5xu5cl :(

[2015-01-27 20:43] mikenolimits commented on #114
It seems I had to import HanekeSwift instead of Haneke, and it worked like a charm :)

[2015-01-27 20:46] joanromano commented on #114
@mikenolimits but you are trying it with the branch `podspec` as suggested above right?

[2015-01-27 20:47] mikenolimits commented on #114
@joanromano correct.

[2015-01-30 11:16] nobunobu commented on #115
Some update about this issue?

[2015-01-31 14:58] SteveNewhouse commented on #115
Been searching a bit on this and have found several warnings about using CGBitmapContextCreate outside of the main thread.  Following the stack trace backwards it seems that this crash happens after
[code]
dispatches a call as follows:
[code]
AFAIK that does not use the main thread.  So perhaps using:
[code]
instead would fix this issue.

I'll give it a go over the next few days.

[2015-01-31 17:04] SteveNewhouse commented on #115
Early indications are positive for the approach outlined in my previous comment.... here's some back-of-a-napkin test results:

x = crash
o = no crash

Using `dispatch_get_global_queue()`:
x,x,x,o,o,o,o,o,o,o,o,o,o,x,o,o,o,o,o,o,o,o,o,x,o

Using `dispatch_get_main_queue()`:
o,o,o,o,o,o,o,o,o,o,o,o,o,o,o,o,o,o,o,o,o,o,o,o,o,o

In short, during my limited testing, I could not reproduce the crash wit

[2015-02-01 00:47] ashchan commented on #115
@SteveNewhouse This is interesting and awesome :+1: ! I've switched back to SDWebCache in my project, I'd love to try out your PR tomorrow to see if it fixes the crash. Finger crossed :)

[2015-02-02 14:05] SteveNewhouse commented on #115
@ashchan oops.. fixed.

[2015-02-02 14:20] ashchan commented on #115
@SteveNewhouse Thanks! I've tried your fix for a while day and haven't encountered a single crash yet.

[2015-02-03 07:03] fabdarice commented on #115
@SteveNewhouse Hi I'm sorry, to try your fix, do I have to update Alamofire? or do I have to manually do the changes?

[2015-02-03 12:09] SteveNewhouse commented on #115
Easiest thing is probably to copy the change- it's a one-liner. See my pull request.

[2015-02-03 21:49] SteveNewhouse commented on #115
@hpique Could you try out the proposed fix?

[2015-02-03 22:41] hpique commented on #115
@SteveNewhouse Should resume work on Haneke during the weekend. Apologies. Been away for a while.

[2015-02-04 13:18] kiddomk opened #149 "uicolleciton view fast scrolling blur the image cell"
if I decide not programmatically add an imageview to the uicollection view in the example:

 var imageView : UIImageView!

    override init(frame: CGRect) {
        super.init(frame: frame)
        initHelper()
    }

    required init(coder aDecoder: NSCoder) {
        super.init(coder: aDecoder)
        initHelper()
    }

    func initHelper() {
        imageView = UIImageView(frame: self.cont

[2015-02-06 16:05] seenickcode commented on #115
+1

[2015-02-08 19:14] kolisko commented on #104
+1

[2015-02-08 19:22] kolisko opened #150 "How to refresh JSON cache?"
Hi, I am using Haneke for caching remote JSON. Caching works well but when I change the remote JSON file and call fetch (multiple times) still get old data from cache. Is any way how to force the fetch to update the cache?

Thank you!
Michal

[2015-02-10 05:11] arnaudmeunier commented on #114
Branch podspec works great for me. Merge to Master?

[2015-02-10 06:12] mikenolimits commented on #104
+10

[2015-02-10 06:56] AllenConquest commented on #104
+1

[2015-02-10 11:45] kolisko commented on #150
I would like something like this, is HanekeSwift the right choice for it?

![snimek obrazovky 2015-02-10 v 12 34 03](https://cloud.githubusercontent.com/assets/460056/6126616/9f446b4c-b122-11e4-95aa-0c516a632336.png)

[2015-02-10 14:34] joanromano commented on #114
@arnaudmeunier I'd first have to create the public podspec for that. I'll try it again asap

[2015-02-10 15:19] arnaudmeunier commented on #114
Awesome. Thanks :)

[2015-02-10 16:22] SteveNewhouse opened #151 "Swift 1.2 compile issues"
Lots of compile issues with Swift 1.2 (not unique to this library, FWIW).  Tried the auto-convert to 1.2 and that did not resolve them all.

Tried fixing other manually but not familiar enough with the 1.2 migration issues to work through it.

[2015-02-10 19:49] hpique commented on #151
Should have this fixed during the weekend. :)

[2015-02-10 22:38] MarcusSmith opened #152 "Cache.fetch never calls completion block when the URL is a file URL"
When trying to see if I could get UIImage + Haneke to load an image from a local URL, the completion block never gets called.  It looks like neither the success or failure blocks ever get called from cache.fetch in hnk_getImageFromURL if the URL is a file URL.

[2015-02-12 21:04] MattesGroeger commented on #104
+1

[2015-02-14 16:55] spf2 commented on #104
+1

[2015-02-16 06:23] mikenolimits commented on #151
looking forward to this :)

I tried to do the fixes myself and my brain exploded :'(

[2015-02-16 14:55] coylums commented on #152
I'm seeing the same thing, when creating a unit test and testing a local image file.

[2015-02-18 09:41] bokzor commented on #151
Any news about this issue ?

[2015-02-18 22:04] TosinAF commented on #145
We have to set the scale mode to none, but I cant seem to find out how to.

[2015-02-18 23:43] TosinAF opened #153 "Using HanekeSwift Image Caching With Auto Layout"
Due to auto layout, my image views usually don't have a size at the time the image is set.
I know I can use formats to turn the resizing off, but that seems like a hassle?

Would it be cool if created a public boolean to turn resizing on or off?

[2015-02-19 08:53] Tovkal commented on #145
Read hpique response on #95. I was able to get it working with `imageView.setImageFromURL(URL, format: Format<UIImage>("original"))`, but when trying to use the closure to resize (the first example) I got some error I can't remember now.

[2015-02-19 12:51] attheodo commented on #151
+1 for fixing this

[2015-02-19 14:52] TosinAF commented on #95
Can i update the readme with this? I feel like docs on this is essential.

[2015-02-19 16:25] bokzor commented on #151
Anyway you can use the objective C version.....

[2015-02-20 03:18] mikenolimits commented on #151
@bokzor it works?

[2015-02-20 08:32] bokzor commented on #151
for sure. Juste put this in your bridging header : #import "Haneke.h"

And then you can call the function : imageView.hnk_setImageFromURL(url)

[2015-02-20 12:22] mirzadelic opened #154 "EXC_BAD_ACCESS"
What is problem here?
Sometimes i get this error.

![screen shot 2015-02-20 at 11 26 35](https://cloud.githubusercontent.com/assets/1878794/6286055/74394bb4-b903-11e4-90a3-a21b0e51f617.png)

[2015-02-22 02:41] mikenolimits commented on #151
@bokzor thanks :) I suppose that will do for now

[2015-02-23 11:57] Cinamonas commented on #154
See #115

[2015-02-23 13:33] mirzadelic commented on #115
When this will be fixed on repo?

[2015-03-01 23:44] ollydbgz opened #157 "Shared.imageCache.removeAll() not working ?"
I'm using Shared.imageCache.removeAll() to delete all memory&disk cache

But not working. Image should't show on UIImage because I'm delete that image from server.

Thank you.

[2015-03-04 16:40] rosendi opened #158 "Is there any way to check if an image has already cached?"
Hello! Is there any way to check if an image has already cached? For example:

`Shared.imageCache.fetch(fetcher:).onSuccess { (image, wasInCache) in }`

I've just dived to source code but didn't find proper way....

[2015-03-04 16:54] SteveNewhouse commented on #115
@hpique -- do you want to add collaborators to the repo to help vet pull requests & merge once standards are met?

[2015-03-05 11:15] attheodo commented on #151
Nice, is this getting merged anytime soon?

[2015-03-06 19:28] TheFlow95 commented on #150
Up !
I'm also interested by that. I want to refresh cache if there is network connection and just load it when there isn't.
Is this possible ?

[2015-03-06 19:32] TheFlow95 commented on #150
It is related to [#129](https://github.com/Haneke/HanekeSwift/issues/129) but I don't know if it was updated since

[2015-03-06 19:38] TheFlow95 commented on #150
Maybe we can do that by using both `NetworkFetcher<T>` and `DiskFetcher<T>`

[2015-03-09 08:31] ridvank commented on #104
+1

[2015-03-09 10:37] thomascsorbamedia opened #159 "Compare cached JSON with JSON on server"
I want to know if it is possible to compare the json i cache to the json on the server?
I have a json query that may change, if i change it the query is different, when i go to the app (killed it first) i expect to see the different results. The problem is that i can only see the cached data.

Possible other way:
Maybe reverse the order of checking, always check with source and if source is differ

[2015-03-10 11:46] thomascsorbamedia commented on #159
There i nobody going to answer this? it seems to me that it is kind of a requested feature to update every time and append to existing while having a internet connection...

[2015-03-10 17:28] bstrull opened #160 "decompressImageIfNeeded shrinks images on retina iPad when fetched from disk"
I'm attempting to keep images the same size as the original image.  I found copying the image would cause it to retain its original size when first displayed as decompressImageIfNeeded is not called with this format:

     var format = Format<UIImage>(name: "fullscreen", diskCapacity: 10000000, transform: {return UIImage(CGImage: $0.CGImage)!})
     imageView.hnk_setImageFromURL(url, format: forma

[2015-03-11 12:08] thomascsorbamedia commented on #159
at this moment my only solutions seems to be to delete and redownload the json overtime the device has an internet connection, there is one problem though the images that are downloaded and later on don't exist in the json anymore are not removed, they stay in documents folder.

Main problem is that the json cannot be updated automatically *feature request?*

[2015-03-13 10:54] oziade commented on #114
I tried with the given branch to use Haneke with Cocoapods.
But i got an error when i try to set an image from an URL in a UITableViewCell (hnk_setImageFromURL) :
"Cancelled set image for " ....
The message is sent by the hnk_shouldCancelForKey function because the hnk_fetcher?.key is nil.

It works fine if i just copy the xcodeproj file in my project, as described in the installation guide, inste

[2015-03-13 15:08] Jordan-RomeroPorter opened #161 "Data not persisting"
In my AppDelegate I instantiate this cache:

    let currentUserCache = Shared.dataCache

Now when I login, I set several values with keys.
    currentUserCache.set(value:userIdData!, key: "userId")
    currentUserCache.set(value:ageData!,key: "userAge")
    currentUserCache.set(value:profileColourData!,key: "userProfileColour")

I close the app, and when I reopen, I should still be able to access

[2015-03-13 18:43] ryanio commented on #115
+1

[2015-03-14 00:55] fabdarice commented on #111
Hi @eyeballz
I've used your fork to copy the Haneke folder into my project and I'm having this error that affects a lot of my files :
"'JSON' is ambiguous for type lookup in his context".
Do you have any idea why and how to fix it?
Very much appreciate thanks

[2015-03-14 12:33] eyeballz commented on #111
Hey @fabdarice ,
since you are using ios 7 there is no namespacing. That means all your classes live in one big namespace. My guess is that you have another class from another library named JSON aswell and that it is conflicting.

[2015-03-14 17:02] ksmandersen commented on #115
Would definitely love to see @SteveNewhouse's changes merged in.

[2015-03-14 18:28] fabdarice commented on #111
Thanks @eyeballz .
Indeed I'm was using SwiftJSON which has a JSON struct too.
I end up renamed all JSON to JSON_SWIFTY and it solves the problems. Thanks a lot!

[2015-03-15 11:04] mirzadelic opened #162 "always using placeholder when have success"
When i use this:
[code]

i always get blank image, becouse placeholder, and i get `SUCCESS` printed.
Any fix for this?
Am i doing something wrong here?

[2015-03-16 03:19] jmacmullin commented on #151
Oops, I wish I'd seen this thread before I had a go at this :-)

My attempt is here:
https://github.com/jmacmullin/HanekeSwift/commit/31b91ff1a069edf16191075e469b0650b8630802

I'd be interested to see how this differs from what other people have done. In particular, I wasn't sure the best way to handle the autoclosures that can escape. I've annotated them as @autoclosure(escaping) but perhaps some

[2015-03-18 20:15] TheFlow95 opened #163 "hnk_setImageFromURL() cause app crash !!!"
Hello,
I use your library to cache images and it works fine in simulator but when I launch my app by myself it crashes at start ! The problem is on this line:
[code]
It's very urgent, can you help me ?
Thanks

PS: I'm in iOS 8.2

[2015-03-18 20:22] mcdolejt commented on #163
I had the same issue.  It happened after updating to Xcode 6.2.  I was unable to figure out cause.

[2015-03-18 20:24] TheFlow95 commented on #163
Ok, I'm just idiot...
I didn't follow that step:

[2015-03-18 20:24] #163 closed

[2015-03-19 13:16] Jordan-RomeroPorter opened #164 "Image not being set for ImageView"
I have a UICollectionViewCell that has an imageview on it. The imageview is is populated by data from two separate arrays. The first array loads the images fine, however when I use the second array, despite the URL being valid, the image is neither being downloaded nor set. Why is this?

[2015-03-19 14:07] Jordan-RomeroPorter commented on #164
Furthermore, how can i find out why the image isn't being downloaded??

[2015-03-20 17:02] iankeen82 commented on #162
tl;dr
[code]
add this code to your success closure

Just having a quick look through the code, if you use a success handler you are responsible for actually setting the image, if the success closure is omitted the image will be set for you.

I'm guessing this is so that devs have the opportunity for things like image post processing, related animations etc..

[2015-03-21 21:49] switz commented on #101
+1 same problem

Would love to see a clearer API or example for creating `memory://` based NSURLs. I'll share whatever I come up with.

[2015-03-22 07:49] AllenConquest commented on #114
How do I use HanekeSwift in Xcode 6.3 (Swift 1.2), as the podspec branch doesn't seem to be Swift 1.2 compatible?

[2015-03-24 12:16] vittoriom opened #165 "Custom fetcher order"
I need to implement a custom image caching infra in our project.

The basic outline is:

1) Check memory cache
2) Check LRU disk cache
3) Check permanent disk cache (custom project-specific layer I need to inject in Haneke)
4) Fetch from network

My question is: Is it possible to implement a custom fetcher order? I saw there is this <code>formats</code> variable but it looks pretty specific in the

[2015-03-25 22:16] Joropo opened #167 "how do i prevent auto resize of images?"
The haneke resizing function is distorting the aspect ratio of the images that are being placed in UICollectionview cells. How can i avoid/prevent/preset the condition for image resizing?

[2015-03-28 11:50] callmewhy opened #168 "How can I get the image in a synchronous way?"
Hi, I wonder how to get the image from disk in a synchronous way?
Or maybe I should always load image in an asynchronous way?

[2015-03-31 12:42] HerbstLukas commented on #147
I have the same issue :/
Any way to use this two awesome projects together?

[2015-03-31 12:44] HerbstLukas commented on #147
@attheodo Thanks for this tip! Worked perfekt! <3

[2015-04-08 00:51] nickoneill opened #169 "Status report"
If there isn't an update here before Swift 1.2 comes out, there's going to a be a ton of forks so that people like myself can continue shipping code with this.

What's the deal here? Plenty of promises have been made that this was going to be looked after "soon" since the new year. I understand people are busy and if you are let's find some others to help out with maintenance. Kicking the can isn'

[2015-04-08 08:28] akolov commented on #169
I second that and willing to help if you need manpower. Already had to create a fork with fixes for currently released app and a Swift 1.2 fork for development.

[2015-04-09 04:43] kishinmanglani commented on #151
Any update on this?

[2015-04-09 12:08] nobunobu commented on #151
I am looking for this for a while too...

[2015-04-09 16:11] nevsi79 opened #170 "crash with NSLog() when using this string as first parameter"
![screenshot 2015-04-09 16 57 13](https://cloud.githubusercontent.com/assets/272277/7070940/1c01aa98-deda-11e4-95f7-442f109d7b4a.png)
http://stackoverflow.com/questions/26026570/swift-url-string-encoding-crashing-on-ios

workaround suggested: NSLog("Failed to update access date with error %@", error?.description ?? "")

[2015-04-09 16:53] nevsi79 commented on #170
Oh, I see this has been addressed in 8e659a3d9bcbcdb3fbe0080d60d9007de2406280 in November.

[2015-04-09 16:57] vchoubard commented on #169
Anyone has a working fork ? @akolov ?

[2015-04-09 20:58] yavuz opened #171 "swift 1.2 errors"
swift 1.2 causes many errors

[2015-04-10 00:57] jayisidoro commented on #169
i second that, does anyone have a working fork?

[2015-04-10 07:45] vchoubard commented on #169
@jayisidoro try this one https://github.com/marcelofabri/HanekeSwift/tree/xcode-6.3 working fine

[2015-04-10 08:35] akolov commented on #169
Sorry for the late reply, here's mine along with the crash fix: https://github.com/akolov/HanekeSwift/tree/swift-1.2

[2015-04-10 14:07] dwoshadha commented on #111
Hi @eyeballz ,
I was working on this and it worked perfectly. After the xcode 6.3 with swift 1.2 release it give me errors. Could you please help me on this? Thanks a lot.

[2015-04-11 03:57] mohsen1 commented on #171
+1

[2015-04-11 13:35] xiaoxiaocainiao commented on #171
+1

[2015-04-11 14:48] CWadeCantley commented on #171
I just updated to the newest versions of xcode and yes... many many errors.  I working on cleaning it up so that I can use it but there are a couple gotchas that I don't fully understand.  Hopefully the author will jump on them.

[2015-04-11 18:37] HerbstLukas commented on #171
I'm also working on getting it running with Swift 1.2, but currently I have 5 errors remaining :/ Hope that the author's will get an version ready :( +1

[2015-04-11 20:05] yavuz commented on #171
may be, you can use it. temporarily :)
https://github.com/akolov/HanekeSwift/tree/swift-1.2

[2015-04-12 06:54] shivateja commented on #171
+1

[2015-04-12 13:12] hpique commented on #171
Duplicate of #151.

[2015-04-12 13:12] #171 closed

[2015-04-12 13:13] hpique commented on #151
Back in action. I expect to have the update ready today.

[2015-04-12 13:14] #146 closed

[2015-04-12 13:15] hpique commented on #169
@nickoneill Put simply, life happened. The Swift 1.2 update should be up later today. Please follow progress on #151.

[2015-04-12 13:15] #169 closed

[2015-04-12 13:57] shivateja commented on #114
Why isn't this merged to master yet?

[2015-04-12 14:59] #151 closed

[2015-04-12 15:43] #114 closed

[2015-04-12 16:05] hpique commented on #114
Merged into master but not pushed to Cocoapods trunk due to a name conflict with Haneke Objective-C. For now, use:

[code]

[2015-04-12 16:20] hpique opened #174 "Add to Cocoapods trunk"
The podspec has not been pushed to Cocoapods trunk due to a name conflict with Haneke Objective-C. For now use:

[code]

The problem is that the name of the podspec appears to be the name of the module. Thus, if I used a different name for the podspec like `HanekeSwift.podspec` we would have to use `import HanekeSwift` instead of `import Haneke`.

Any ideas?

[2015-04-12 16:21] hpique commented on #114
See #174 for more details, or if you know how to fix this.

[2015-04-14 14:01] sh00le opened #177 "More config options"
Is it possible to add some kind of config for Haneke?
For example
- cache validity period (in seconds)
- max disk usage (in MB)
- max memory usage (in MB)

[2015-04-15 11:23] thomascsorbamedia commented on #111
@dwoshadha, try comparing your version of Haneke with the original code and replace the functions that are giving errors for most of the errors this will solve it. The only error that remains for me is in this function and i can't seem to figure it out. Maybe someone can have a look?

public init(name : String) {
        self.name = name

        let notifications = NSNotificationCenter.defaultCen

[2015-04-15 17:33] dcharbonnier commented on #115
thanks @SteveNewhouse fixed the problem for me too waiting for the merge ;-)

[2015-04-18 14:39] hpique commented on #174
Turns out there's a module_name property! Will test this shortly. Thanks @dantoml!

E.g.: https://github.com/nestproject/Padlock/blob/master/%F0%9F%94%92.podspec

[2015-04-18 14:49] #154 closed

[2015-04-18 14:58] hpique commented on #115
@SteveNewhouse @Psidium @gnimmel @broglep-koubachi @ksmandersen @joelchen @nickoneill @phamquochoan @francosolerio @fabdarice @coylums @nobunobu Back in action and hoping to get this fixed. Can any of you provide a bare-bones sample app in which the issue can be reproduced somewhat consistently?

[2015-04-18 15:07] hpique commented on #177
Yes, these would be very nice additions to Haneke. Care to split them in separate issues so we can keep track of interest and progress?

[2015-04-18 15:13] hpique commented on #170
@nevsi79 Neat! Please let me know if the problem resurfaces.

[2015-04-18 15:13] #170 closed

[2015-04-18 15:20] hpique commented on #168
@callmewhy Haneke only provides asynchronous APIs. However, you can convert any asynchronous API using GCD semaphores or groups, at the expense of blocking the main (or calling) thread. That is usually bad, which is why Haneke discourages it.

[2015-04-18 15:20] #168 closed

[2015-04-18 15:26] hpique commented on #167
@Joropo Haneke will respect the `contentMode` of your `UIImageView`. It's probably set to `Fill`. Change it to `AspectFit` or `AspectFill` instead.

You can also use custom formats without resizing. Check the readme for more info.

[2015-04-18 15:26] #167 closed

[2015-04-20 17:16] yathav opened #178 "Could you please support for the latest Xcode version 6.3"
There a lot of compiling issues, when i compile it in Xcode v6.3. Please provide a fix for this.

[2015-04-20 17:23] hpique commented on #178
@yathav Have you updated to the latest master?

[2015-04-20 19:28] sh00le opened #179 "Config for cache validity period in seconds"

[2015-04-20 19:28] sh00le opened #180 "Config for max disk usage in MB"

[2015-04-20 19:29] sh00le opened #181 "Config for max memory usage in MB"

[2015-04-20 19:30] sh00le commented on #177
Like this?!

https://github.com/Haneke/HanekeSwift/issues/179
https://github.com/Haneke/HanekeSwift/issues/180
https://github.com/Haneke/HanekeSwift/issues/181

[2015-04-20 19:30] #177 closed

[2015-04-21 00:09] hpique commented on #177
Perfect. Thanks!

[2015-04-21 00:10] hpique commented on #180
Don't we have this already with `Format.diskCapacity`?

[2015-04-22 08:20] rushabh358 opened #182 "UX cleaning"

[2015-04-22 08:20] #182 closed

[2015-04-22 13:51] seenickcode opened #183 "Install Directions Incorrect"
It's

[code]
Not:

[code]

[2015-04-22 16:03] hpique commented on #183
Fixed! Thanks @seenickcode.

[2015-04-22 16:03] #183 closed

[2015-04-23 09:31] #178 closed

[2015-04-25 20:56] jonthomp commented on #104
+1

[2015-04-26 07:53] oshadha commented on #111
@eyeballz is there a way that I can show a default image while it loads the actual. Do we have a default function for that?

[2015-05-04 10:00] thomascsorbamedia opened #185 "[Question] imageFromURL in grayscale"
Hi all, i have a question
with this code
    cell.imageView.hnk_setImageFromURL(url)
the cell gets an image, however i can't seem te figure out how to make it in black/white/grayscale

        cell.modelFileThumb.hnk_setImageFromURL(URL)
        let imageRect = cell.imageView.frame

        let colorSpace = CGColorSpaceCreateDeviceGray()
        let width = imageRect.width
        let height = ima

[2015-05-06 13:44] Hextar opened #186 "After XCode upgrade there are many errors in code"
HI, i bet the swift code syntax changed again. There are now errors like:

HanekeSwift-master/Haneke/UIButton+Haneke.swift:64:27: Use of unresolved identifier 'objc_getassociatedObject'

HanekeSwift-master/Haneke/NSFileManager+Haneke.swift:62:32: 'NSComparisonResult.Type' does not have a member named 'Orderedascending'

[2015-05-08 07:56] hablema opened #187 "WebP Image Format not cached!"
Hi all,

Recently i have started using Webp Image format from google and it really saves a lot of bandwidth. But i'm not able to cache the images. It gives an error that it can't find the path when searching in the shared-images cache.

"NSUnderlyingError=0x174452c60 "The operation couldn’t be completed. No such file or directory"

It would be great to if anyone could help me out.

[2015-05-09 14:35] #187 closed

[2015-05-12 20:36] NilsLattek opened #188 "[Feature Request] Pass request to formatter block"
Congrats on this nice swift library!
Is there a way to access the request/url/fetch-key inside a formatter? I am using a dataCache and in order to transform my data inside the formatter I need some additional parameters from the request.

Example:
[code]

[2015-05-14 04:17] Evilcome commented on #104
+1

[2015-05-17 19:31] tobiasoleary opened #189 "Unapplied License"
The end of the license has the following text. It looks like it has never been applied to the HanekeSwift. I think you just need to fill in the Copyright date and the name of the copyright owner to apply the license.

[code]

[2015-05-17 20:52] tobiasoleary commented on #189
Please see my pull-request #190 for fix to this issue.

[2015-05-17 20:53] #189 closed

[2015-05-17 21:27] tobiasoleary commented on #120
I think this is probably more of an issue with improper use of HanekeSwift more than a bug in HanekeSwift.

What I believe this issue refers to is a concurrency issue with shared objects.

Here is what I believe is the root cause of the issue described.

Here's sample code that can demonstrate issue:
[code]

Here the explanation of what is going on.

1. tableView gets displayed, with X initial `UI

[2015-05-19 08:54] coryoso opened #192 "Getting EXC_BAD_INSTRUCTION sometimes while trying to fetch from cache"
Sometimes the app gets an EXC_BAD_INSTRUCTION while trying to fetch a string from cache.
The cache fetching is done in a NSOperation subclass (with a maxConcurrentOperation of 10).
Console ouput says
    malloc: *** error for object 0x7fb133c5d850: double free
    *** set a breakpoint in malloc_error_break to debug
I tried to set a breakpoint without success. Anything I did wrong?

[2015-05-20 08:58] petard opened #194 "Haneke crashing on setImage"
I'm using Haenke to load images inside a collectionView in my custom cell class. I've manually added it to the project and have `import Haenke` in my custom class.

The custom cell class has the function `show product(p: Product)` which initializes the cell with the appropriate product information and also loading the product thumbnail:

[code]

With this setup i get the following error message:
`

[2015-05-20 09:59] petard commented on #194
Turns out this is a linking error as Haenke framework didn't get added to project properly. See also [this thread] (https://github.com/Alamofire/Alamofire/issues/101)

[2015-05-20 09:59] #194 closed

[2015-05-23 03:55] martinc opened #195 "Method to batch fetch keys, with a completion callback"
Currently to batch fetch an array of keys, you need to tally up the successful & failed results, and check in every callback if they are done. There should be a method to batch fetch a list of keys, and have a callback at the end that returns a dictionary of keys to values, or NSNull if the value was not found.

[2015-05-23 06:26] tyrauber commented on #115
+1

[2015-05-23 14:46] TheOriginalTrubador commented on #104
+1

[2015-05-25 01:05] yurrriq commented on #192
:+1: I'm seeing this too.

[2015-05-25 22:43] sman591 commented on #192
+1 same issue

[2015-05-27 12:56] iko3 opened #197 "Add possibility to use custom NSURLRequest"
Images I'm trying to download are protected and need server authentication to access them. Would be great if it would be possible to respond to authentication challanges or set custom headers (basic64 authorization) when using imageView.hnk_setImageFromURL(...)

[2015-05-27 16:17] basememara commented on #159
Maybe you can add a version # to the JSON? I'm facing this same issue and in the past with JavaScript, I added a web service that just returns the lastModified date of the API request. If it's newer than the cached date, then I perform an update to the cache. Still trying to figure how to implement this here. I agree, it would be a handy feature though, such as an optional parameter:

`let cache =

[2015-05-27 16:21] basememara commented on #159
Another way may be to add an optional expiry interval:
`let cache = HNKCache<JSON>(name: "dasboard", expiry: NSTimeInterval(86400))`

[2015-05-27 16:52] tobiasoleary commented on #159
Are you saying that you would like Haneke to check Etags?  Or are you saying you would like Haneke to do the server request each time then compare the results with the cached version of the results?

[2015-05-27 16:56] basememara commented on #159
Originally I was talking about doing a partial server request just to get the version #.. but Etags is a great idea!!!

[2015-05-27 17:18] tobiasoleary commented on #159
@basememara Yeah. I meant to pose those question to the original creator of the issue. I haven't done a deep dive into Haneke, but I believe by default it uses `NSURLSession` for requests, which should automatically support entity tags if the `NSURLSession` has a configuration with its `requestCachePolicy` set to  `NSURLCacheStoragePolicy.UseProtocolCachePolicy`.

[2015-05-27 20:18] basememara commented on #159
There's an elaborate question/answer on StackOverflow that can be used as a reference here, it mentions Haneke as well: http://stackoverflow.com/questions/28418035/synchronizing-remote-json-data-to-local-cache-storage-in-ios-swift

[2015-05-27 20:58] tobiasoleary commented on #159
@basememera Wow. That was a great question and answer. Thank you for sharing.

[2015-05-28 14:11] alezoffoli commented on #128
I've referenced to #128 to create a fetch with custom headers.

But whenever I declare

public class CustomNetworkFetcher : NetworkFetcher {

}

I get:
![screen shot 2015-05-28 at 11 10 14 am](https://cloud.githubusercontent.com/assets/5590195/7862108/52132ce4-052a-11e5-86e4-de34abe387a6.png)

Any ideas?

[2015-05-28 17:28] bradycoye commented on #104
+1

[2015-05-28 19:32] Hxucaa commented on #192
same here. I've switched to SDWebImage since then.

[2015-05-28 20:26] tobiasoleary commented on #192
+1

[2015-05-28 20:28] tobiasoleary commented on #115
+1

[2015-05-28 20:30] tobiasoleary commented on #192
@sorncc Can you verify if this is the same issue as #115?

[2015-05-28 20:38] tobiasoleary commented on #186
@hextar What version of Xcode and what version of the library are you using?

Can you confirm this is fixed using the most recent version of the Xcode and the Library?

[2015-05-29 04:00] katopz opened #198 "Shared.JSONCache or Haneke.sharedJSONCache?"
refer to read me
[code]

This kinda confuse me that `cache` is define twice for some reason .
Some comment on that line would be nice.

Thanks

[2015-05-29 05:04] Evilcome commented on #197
@iko3  you can create a custom fetcher

[code]

then, use the fetcher:

[code]

I think you can fetch image in the same way.

[2015-05-29 12:33] sorncc commented on #192
I think it's the same issue

[2015-05-29 17:04] yurrriq commented on #192
FWIW #115 looks like the same issue I'm having too.

[2015-06-02 11:39] durre opened #199 "File name too long for AWS S3 private content urls"
I'm seeing a lot of runtime errors while loading images from S3 which are private. I'm using 0.9.1. The errors look like this:

[HANEKE][ERROR] Failed to write key https://dxzezjm7q2pi.cloudfront.net/video-thumbs/52458b21e27b764f002aad2f/556cab4226070024009a8cd2.jpg?Expires=2064337091&Signature=TLn2VmYEgss5PGIsQZawjnNdT0YWW3vM3leGPdw1OHX3ZENsCAD1KGLk1C1J2x~0IdjiPRrjwv3RKPECiCyzKuIMI4sOBmSivTKO~n9e

[2015-06-03 16:02] aerow69 commented on #162
"If a success block is provided you will be responsible for setting the image"
use:
  self.imgView.hnk_setImageFromURL(url, placeholder: nil, success: { (image) -> Void in
                    self.imgView.image = image
                    }, failure: { (error) -> Void in

                })

[2015-06-05 04:36] jdssem opened #200 "No Such Module 'HanekeSwift'"
I think it's very basic question. But I can't go further because of this problem.

I installed HanekeSwift through ```pod install``` and it was installed properly.
This is my Podfile

[code]
In Xcode, pods are target dependencies normally.
![2015-06-05 13 30 49](https://cloud.githubusercontent.com/assets/978944/7999504/44c94038-0b87-11e5-868b-513479f59ed1.png)

When I ```import HanekeSwift``` in m

[2015-06-05 07:00] jdssem commented on #200
I'm not sure what I've done but now ```import Hanake``` works.

[2015-06-05 07:00] #200 closed

[2015-06-10 21:45] #153 closed

[2015-06-11 18:10] liebeskind commented on #115
+1.

Console output is:
malloc: *** error for object 0x7f9a0630d670: double free
*** set a breakpoint in malloc_error_break to debug

[2015-06-12 15:29] jc0x commented on #115
Any traction on the fix for this issue?

[2015-06-14 00:36] shmakovigor opened #202 "Swift 2.0"
Do you plan to update project for Swift 2.0?

[2015-06-14 17:40] FarajiMehrdad commented on #202
Ya, I'm waiting for update!

[2015-06-16 07:09] meteochu commented on #202
I did some very quick migration to Swift 2.0 that you guys can use in the mean time. (Mostly just getting rid of errors and rewriting parts of the Error Handling. Note that it's updated "to work" and not really optimized, etc)
https://github.com/meteochu/HanekeSwift/tree/swift-2.0

[2015-06-16 12:40] shmakovigor commented on #202
thanks!

[2015-06-16 15:46] martinc opened #203 "Synchronous fetch from memory"
A synchronous fetching from the memory is helpful in certain cases. Here is my implementation:

https://github.com/martinc/HanekeSwift/commit/282fbe948bfe3621661c807021470cf1bf53000b

[2015-06-17 09:33] FarajiMehrdad commented on #202
thank you for updating.

[2015-06-18 08:45] wrhsan opened #204 "HanekeDemo collapse"
I don't know why this happening.  Device:  iPhone4S, System: iOS8.3 .

Log:  dyld: Library not loaded: @rpath/Haneke.framework/Haneke
  Referenced from: /private/var/mobile/Containers/Bundle/Application/45BD1AE0-02B5-4D8D-BC2D-B849B3DFB058/HanekeDemo.app/HanekeDemo
  Reason: image not found

[2015-06-18 15:12] meteochu commented on #204
Have you embedded the frameworks into the project yet?
More Info: http://stackoverflow.com/questions/24333981/ios-app-with-framework-crashed-on-device-dyld-library-not-loaded-xcode-6-beta

[2015-06-23 03:22] wrhsan commented on #204
Thank you so much,it's worked.

[2015-06-23 03:22] #204 closed

[2015-06-24 08:34] Padarom commented on #200
We've had the same issue. I think at some point in my project I have made some wrong settings which resulted in my Unit Tests not being able to use CocoaPods (*perhaps this needs to be configured explicitly, anyways*).

The class I tried to use `import Hanake` on had both my app, and my app's `Tests` in its target membership. Removing it from the `Tests` target made it work again.

[2015-06-24 19:39] Krizai opened #205 "Blink on UICollectionView reloadData with same data"
In some cases blink of images in cells can be visible.
I suppose that it's because of using transitionWithView with 0 duration.
If i use success (self.imageView.image = image) to override this behaviour, there is no blink.

[2015-06-25 10:27] prabhupb commented on #200
@jdssem , most pod libraries use the same pod name as well as the module name, but the pod name for this library is HanekeSwift and the module name is Haneke. So *import Haneke* works while *import HanekeSwift* doesn't.

@Padarom , valid point. I have encountered such issues quite a few times which arises from the Tests target which I tend to overlook.

[2015-06-25 16:21] caldofran commented on #202
Waiting for Swift 2 support guys

[2015-06-26 08:34] paulosotu commented on #115
Hi Guys,

Any ETA on  merge?

[2015-06-26 15:37] rephiscorth opened #206 "Cache to disk w/o memory"
I'm working with 200+ images loaded from network. I'm attempting to cache them, but sometimes I get OOM (which is expected because it's a lot of images).

I'm using Shared.imageCache#fetch(URL:) for this operation, but I don't see any option to disable on-memory cache. Is this supported?

[2015-06-26 17:42] paulosotu commented on #115
Hi guys,

Been investigating this issue a little further and reach a bit of different conclusion than the one achieved by @SteveNewhouse. It seems this issue is a pure thread synchronisation issue on:

 UIImage(data: data)

It seems this isn't thread safe, every-time a crashed occurred it had two thread inside the constructor... Basically my fix for this was to synchronise access to convertFromDat

[2015-06-30 13:38] sumitjain7 commented on #205
Same happening with me

[2015-07-02 13:21] #206 closed

[2015-07-02 13:42] rephiscorth opened #208 "Image not being retrieved from cache"
I'm trying to pre-load some images with the following code:
[code]

But afterwards when I try to set it to the imageview, it downloads it again from the network instead of reading it from the cache. This is the code:
[code]

Is this a bug or maybe I missunderstood the usage of ```imageCache.fetch```?

[2015-07-08 13:44] anthonycastelli commented on #202
I second this one!

[2015-07-08 14:40] thomascsorbamedia commented on #205
Same here

[2015-07-09 02:35] mmmattos commented on #194
Glad this work-around worked for you too! ;)

[2015-07-09 05:30] sumitjain7 commented on #205
I removed the code for reload data. Instead I am re-assigning the delegate to 'nil' and then to 'self'.
It worked for me and blinking resolved:)

[2015-07-09 07:58] clementprem commented on #202
Thanks @meteochu meteochu. Waiting for the official Swift 2 update

[2015-07-09 09:46] AllenConquest commented on #104
+1000

[2015-07-09 15:18] nickoneill commented on #104
FYI, there's some nice cache expiration in AwesomeCache: https://github.com/aschuch/AwesomeCache

[2015-07-10 03:29] Evilcome commented on #104
Actually, I like `force update` more than `expire time`.
for now, if I want to get latest data, I should do:
[code]
however, if network error, or something happened, the cache never come back.
so, imaging if have a force update(especially during pull refresh action) method, can write:
[code]
if success with override cache,  and keep the cache if error happened.

[2015-07-11 03:53] bb0zero opened #210 "Can configure to re-fetch Json data from network when expired 30 days?"

[2015-07-14 02:08] oshadha commented on #111
@eyeballz I converted the Haneke iOS7 to work with xCode 6.4 and Swift 1.2. I wanna push it. Please let me know how can I do that.

[2015-07-15 06:36] keith commented on #202
Many projects maintain a swift-2.0 branch before the official release just to make it easier for people trying to transition. Looks like @meteochu's is a good start

[2015-07-16 08:28] Skogetroll opened #211 "Crash in setDataSync"
There's a problem in `DiskCache(…).setDataSync(…)`, or to be exact in those lines:

[code]

Apparently `attributes.fileSize()` value can be greater than `self.size` value, so this subtraction operation makes `self.size` negative.

But declaration of `size` property says that `size` is `UInt64`:

[code]

And any attempt to make unsigned type negative will generate runtime error, which gonna crash t

[2015-07-16 13:59] Skogetroll commented on #211
Here i have few screenshots

#### Exhibit A: Crash itself
![2015-07-16 16 54 04](https://cloud.githubusercontent.com/assets/335174/8725183/88cb03ce-2bdb-11e5-92ae-09bd5366c571.png)

#### Exhibit B: Proof that `attributes.fileSize() > self.size`
![2015-07-16 16 55 12](https://cloud.githubusercontent.com/assets/335174/8725184/88cded82-2bdb-11e5-9d9e-0ba434287e35.png)

[2015-07-18 20:16] dcunited001 commented on #202
i was using the swift 2.0 branch a few days ago.  i couldn't get the callbacks to work from within UICollectionView collectionView(collectionView, cellForItemAtIndexPath) method.  i kept getting wierd mallocs and pointer errors.

The problem is that I tried switching to Haneke obj-c and couldn't get that to work.  So i switched back to the Swift 2.0 branch and now the caching is completely broken

[2015-07-18 23:24] bradycoye commented on #202
@dcunited001 this branch still works fine in my project. Must be an environment issue

[2015-07-21 20:56] jorgefal opened #212 "Image cache load everything in device memory"
all requests I make are loaded into memory and not on disk, the disk has almost no activity, haneke only works with cache memory? or works with both when the memory is compromised?

cache.fetch(URL: url!, formatName: "testFormat").onSuccess { image in

         self.testingImage.image = image
}

[2015-07-23 01:55] Huato115 commented on #104
+1

[2015-07-26 21:27] leversol commented on #147
You are right Garnel. Thanks!

[2015-07-28 14:02] thomascsorbamedia opened #213 "How to remove all fetched data"
Hi, i have a settings page in my app, here i would like to be able to press a button and then delete all fetched data from my device. This has to be key independent.
Anyone know a solution?

[2015-08-03 07:37] magrinj commented on #104
:+1:, this part is really needed! :)

[2015-08-05 12:12] streak22 commented on #213
+1

[2015-08-05 16:02] streak22 opened #214 "Clear Data of Cache"
Hi to All!   I was trying to probe the clear data and i write this code:

[code]

The first time that i start the app it download the image and delay 10 seconds. But the second time it doit automatic. (I had the remove and removeAll method call before)

What i am doing wrong? Or why the cache does not be delete in the start of the app?

Thank you very much!

[2015-08-05 20:35] nathanielescribano commented on #104
+1

[2015-08-07 21:01] yoiang commented on #203
:+1:
A synchronous set would be a great addition too!

[2015-08-09 21:32] cmcnab commented on #192
+1

[2015-08-09 22:26] KMKRN commented on #171
There is an issue with JSON data. Fetching JSON data from server seems to return one cached object which is not getting released. Cleaning Xcode cache did nothing.

[2015-08-10 00:37] dcunited001 commented on #202
@bradycoye @meteochu i added a [Haneke branch](https://github.com/appistack/appistack-swift/tree/haneke) specifically for the issues I'm experiencing.  I've set up the app to use an online API in development, so you should be able to login temporarily with `appistack at gmail` and `PassWord!`

I'm getting wierd issues when trying to use hnk_setImageFromURL() with a callback, but only from within a

[2015-08-10 01:13] dcunited001 commented on #202
ok well now there is no problem because `appistack-rails.herokuapp.com` no longer has any rows in the `artists` or `sounds` tables.... lol really not sure how that happened, but it did literally 20 minutes ago.  jeez

[2015-08-10 02:43] dcunited001 commented on #202
instead of using `self.collectionView.reloadItemsAtIndexPaths([indexPath])` to reload specific cells inside the Hanake callback, i tried calling `invalidateLayout()` and this works.  i think `reloadItemsAtIndexPaths` was blowing up because it was causing too much to happen at once.  maybe bc each call was allocating new threads or something.

`invalidateLayout()` seems like it would be more approp

[2015-08-10 07:01] dcunited001 commented on #101
i'm running into this problem as well.  EZAudio uses ExtAudio for file access and there's no way to get around it.

for now, i'm just going to read out of Haneke's disk cache, but create a temporary file with the NSData that's returned.  that way i can easy clear out the temp files whenever i want, like on app restart or whatever. and basically my app can throw away those temp files at any time.

[2015-08-10 07:08] KMKRN commented on #179
How do I use this option?

[2015-08-11 20:55] carbocation opened #215 "Allow placeholder to be cached if URL has no image"
If the URL has no image (`imageView.hnk_setImageFromURL`), it's probably a broken image. These happen quite often on the internet. Rather than retrying every time, there should be a flag that permits us to say "if the image cannot be found, set the cached value to the placeholder image" which will stop trying to re-download all of the broken images on each load.

[2015-08-12 01:47] nsdictionary opened #216 "How to get download progress？"
I need to download the progress, with the indicator, how can I get the download progress of the picture?

[2015-08-14 16:39] kylry opened #217 "Adding Support for Swift 2.0"
Maybe it's just me, but would be great if Haneke could support Swift 2.0. Getting many errors during installation.

[2015-08-14 16:46] bradycoye commented on #217
This branch has is current with the latest beta syntax. https://github.com/meteochu/HanekeSwift.git

[2015-08-15 10:17] qx commented on #192
+1 ALWAYS

[2015-08-15 15:19] nsdictionary opened #218 "Oh!!! Fetch operation caused a severe wild pointer crash"
How to cancel a cache's fetch operation? Fetch operation caused a severe wild pointer crash:
The scene is as follows:
I use cache.fetch(URL) in cell of tableviewController to get the remote image, in the closure:
{img in success:
 self.imageV.image = img //self is tableviewCell
})
But before the success of the picture download, I pop this tableViewController, that is, tableview and cell are not in

[2015-08-15 15:20] nsdictionary commented on #218
title

[2015-08-18 03:45] Huato115 commented on #213
.remove

[2015-08-19 02:42] amywtlin opened #219 "Get current disk cache size"
Hi,

I would like to know the size of a cache (to see if I need to clear it at some point), and I see there is a function used when initializing in Haneke/DiskCache.swift, however it's a private function so I could not access it to get the size. Is there anything I can utilize for this purpose?

Thanks!
Amy

[2015-08-21 06:45] amnwebmaster commented on #192
+1

[2015-08-21 19:18] eneko commented on #217
I was looking for Xcode 7 / Swift 2.0 pull requests and couldn't find any. Thanks for sharing.

[2015-08-26 15:33] marcioadr88 commented on #157
Doesn't worked for me too

[2015-09-01 05:57] AruLNadhaN commented on #210
+1

[2015-09-02 17:48] seenickcode commented on #111
@eyeballz , any update on this or what @oshadha has done?  Thanks.

[2015-09-03 13:39] japarrado commented on #217
i try integrate this branch from pod:

pod 'HanekeSwift', :git => 'https://github.com/Haneke/HanekeSwift.git', :branch => 'swift-2.0'

and i get this error:
warning: Could not find remote branch swift-2.0 to clone.
fatal: Remote branch swift-2.0 not found in upstream origin

[2015-09-03 16:02] eneko commented on #217
@japarrado I've been using this fork, works fine:

    pod 'HanekeSwift', :git => 'git@github.com:meteochu/HanekeSwift.git', :branch => 'swift-2.0'

[2015-09-03 16:49] japarrado commented on #217
great with pod 'HanekeSwift', :git => 'https://github.com/meteochu/HanekeSwift.git', :branch => 'swift-2.0'

I try download this image but don't load :(
URL: http://files.parsetfss.com/933960fc-1c6a-4a1e-ba45-c535cd577bfc/tfss-fca604df-7b08-46e8-bf06-0ad13ce5bb65-008solomilloalaparrillaimage1x.jpg

[2015-09-03 16:52] eneko commented on #217
@japarrado If you are using Xcode 7 with Swift 2.0, you are probably getting security errors for downloading images from non-https urls.  I believe the configuration changes you need are at the application level, not on the framework. Take a look at http://ste.vn/2015/06/10/configuring-app-transport-security-ios-9-osx-10-11

[2015-09-03 17:22] japarrado commented on #217
i put info in info.plist but dont' work...i thinkg is a bug of xcode 7 beta 6 simulator

[2015-09-06 11:31] calsmith commented on #104
+1

[2015-09-06 19:05] kapoorsahil commented on #216
+1

[2015-09-06 19:08] kapoorsahil commented on #205
@sumitjain7 Can you elaborate?

[2015-09-07 04:34] peyotll commented on #219
I need to know the cache size for a project too. Is it planned to add it? It would be great :smiley:

[2015-09-09 14:31] codebeaulieu opened #220 "How do I set a local file using hank_setImageFromFile"
I'm trying to set a file that is stored in my local Image.xassets using the following code but it's failing.

`isActiveImageView.hnk_setImageFromFile("check")`

if this is incorrect, how do I set a local file?

http://stackoverflow.com/questions/32482165/caching-local-files-using-hnk-setimagefromfile

[2015-09-09 14:50] #220 closed

[2015-09-09 22:04] rromanchuk commented on #217
Xcode7GM is out, this needs to be be merged into master

[2015-09-10 17:16] keith commented on #217
Here's the PR for Swift 2.0 support https://github.com/Haneke/HanekeSwift/pull/221

[2015-09-10 17:16] keith commented on #202
Here's the PR for swift 2 support https://github.com/Haneke/HanekeSwift/pull/221

[2015-09-10 19:49] codebeaulieu commented on #203
I would lie to see this as well.

[2015-09-15 01:27] dustfire opened #222 "Swift 2.0 -- Ton of errors :/"
I am trying to convert the whole thing to Swift 2.0 for XCode7 -- any plans on your end?

[2015-09-15 02:45] meteochu commented on #222
You can use my fork which is currently up to date with all Swift 2.0 Changes!
https://github.com/meteochu/HanekeSwift

[2015-09-15 22:34] luckybutter commented on #211
I have experienced the same bug as you; however, mine was related to a created "cache". After switching my cache into the Shared.imageCache, everything worked fine. Maybe the issue lies there.

[2015-09-16 00:59] dustfire commented on #222
dude you rock, thanks! @meteochu

[2015-09-18 00:19] psparago commented on #222
I'm not an XCode/CocoaPods expert (actually barely literate), so I'm hoping someone can help. Below is the console log when I try to 'pod install' this fork. Any ideas? I really want to avoid a manual installation if possible.

pod install
Updating local specs repositories

CocoaPods 0.39.0.beta.4 is available.
To update use: `gem install cocoapods --pre`
[!] This is a test version we'd love you t

[2015-09-18 08:56] sicaboy commented on #222
@meteochu Looks cool man, but is there any way to install from pods?

[2015-09-18 14:50] mobinzk commented on #222
@sicaboy For now you can use the following pod request till it gets marge

[code]

[2015-09-18 16:21] yurrriq commented on #222
FWIW I'm doing as @mobinzk suggests, without issue.

[2015-09-18 21:36] githotto commented on #202
Is there a working Swift 2 version; I'm trying to use it in Xcode 7 (7A220) but am getting quite a lot of errors, which I can't seem to fix yet.

[2015-09-18 23:34] yurrriq commented on #202
@githotto, see [mobinzk's comment][1] on #222.

[1]: https://github.com/Haneke/HanekeSwift/issues/222#issuecomment-141474067

[2015-09-18 23:49] dongkaipo commented on #219
And how to clean cache? I did not find it in documents

[2015-09-19 00:58] fabdarice commented on #120
Is there a reason why pull request form @joanromano  hasn't been done yet?
Without his fixes, I'm definitely facing an Improper placement of images while scrolling the tableview

[2015-09-19 19:29] githotto commented on #202
Hi Eric,
Thanks for the quick response.
It worked like a charm, thanks again, you saved my day!

By the way: before I read your email I had a compile-error free working
version with Maplebacon (see: https://github.com/zalando/MapleBacon) but
this didn't render all Images correctly (or at all) in a UITableView.
So I was very happy to read your suggestion, causing me to switch back to
Haneke with a

[2015-09-19 21:39] yurrriq commented on #202
Great! I'm glad I could help.

[2015-09-21 00:52] vbrazo commented on #222
+1

[2015-09-21 06:59] hpique commented on #222
Swift 2.0 support is now on master. Thanks to @meteochu for providing an alternative while this was unavailable.

[2015-09-21 06:59] #222 closed

[2015-09-21 07:00] hpique commented on #217
Swift 2.0 support is now on master. Thanks to @meteochu for providing an alternative while this was unavailable.

[2015-09-21 07:00] #217 closed

[2015-09-21 07:01] hpique commented on #202
Swift 2.0 support is now on master. Thanks to @meteochu for providing an alternative while this was unavailable.

[2015-09-21 07:01] #202 closed

[2015-09-21 07:48] hpique commented on #195
Thanks for contributing @martinc! Props for providing unit tests and updating the README to boot.

If I understand correctly, this feature could be built with a `Cache` extension, right? In general I prefer to keep the convenience methods to the bare minimum, to keep the codebase lean.

[2015-09-21 09:05] oshadha commented on #111
Hi @seenickcode , Please let me know if you wanna have Swift 1.2 converted code.

[2015-09-21 12:54] hpique commented on #192
See #115.

[2015-09-21 12:54] #192 closed

[2015-09-21 13:45] seenickcode commented on #111
Yes please!

On Mon, Sep 21, 2015 at 5:05 AM, Oshadha <notifications@github.com> wrote:

[2015-09-21 17:37] eyeballz commented on #111
Hey, you can also make a pull request here https://github.com/eyeballz/HanekeSwift
then i will accept it

[2015-09-22 03:45] oshadha commented on #111
@seenickcode just drop me a mail. oshadha@gmail.com

[2015-09-22 03:56] oshadha commented on #111
hi @eyeballz , When I try to sync it give me following error:
fatal: unable to access 'https://github.com/eyeballz/HanekeSwift.git/': Empty reply from server
 (128)

Please advise me.

[2015-09-22 10:38] yoller opened #223 "Fetcher Access Modifiers"
In Fetcher type definition, init(), fetch() and cancelFetch() have 'internal' default access:

[code]

Why are they not public in a way I can create my own fetcher in my module just importing Haneke and inheriting Fetcher<T>?

If not publics I can't call super.init(key: key) at the end of my custom fetcher's init and I can't override func fetch() and func cancelFetch()

What's worng, maybe I have

[2015-09-22 11:13] eyeballz commented on #111
Just fork it and then commit the changes there. dont even have to create a pull request then

[2015-09-22 12:26] hpique commented on #223
My bad @yoller. Want to send a pull request?

[2015-09-23 00:24] hpique commented on #223
Fixed in #224.

[2015-09-23 00:24] #223 closed

[2015-09-23 07:38] kaushikdas0 commented on #147
Just use
var urVariable = SwiftyJSON.JSON(someObject!)

Referring to SwiftyJSON directly will solve the issue.

[2015-09-23 08:28] hpique commented on #147
What @kaushikdas0 said. Swift libraries are bound to have name conflicts. Just be explicit about the type and or use typealias.

[2015-09-23 08:28] #147 closed

[2015-09-23 21:05] longbowww opened #225 "UIButton FillMode"
when setting a button image like:
[code]
all other things you wanna set get ignored like
[code]

referring to the actual code in Haneke this would be:
[code]
Is there any option to set the button img and set the `ImageResizer.ScaleMode` to `.AspectFill` or do I have to "hack" the source?

[2015-09-23 21:28] joanromano commented on #225
Hi @longbowww, why not just setting the content alignments of the button to Fill before setting the image?

[2015-09-27 18:07] oshadha commented on #111
I was trying to upload my Swift 1.2 changes as new branch and it keeps me saying that "Authentication Failed"

[2015-09-28 07:43] peyotll commented on #219
@dongkaipo I use the removeAll method of Cache class but it doesn't seem to remove everything

[2015-09-29 16:18] tspecht opened #226 "Manually prefilling Haneke"
Hi!

I recently tried out Haneke in a small sample project and really liked it! Now I would want to port a bigger project of mine to Haneke and have some questions on how to do it:

Currently I'm having a custom implementation which simply downloads images and stores them on disk. To map the images to their remote counterparts the filename is simply kept. When I would migrate I don't want the user

[2015-09-30 04:31] diprajak opened #227 "Is there anyway I can setup trusted host?"

[2015-10-02 09:43] mckayryane commented on #157
+1

[2015-10-05 21:50] levibostian opened #229 ""Invalid redeclaration of 'JSON'" error when using SwifyJSON with project."
My iOS Swift project includes [SwifyJSON](https://github.com/SwiftyJSON/SwiftyJSON) to parse JSON I download from my API easily.

When I include HanekeSwift into my project, I get the error "Invalid redeclaration of 'JSON'" in my [SwifyJSON.swify file line 56](https://github.com/SwiftyJSON/SwiftyJSON/blob/master/Source/SwiftyJSON.swift#L56) as it declares a struct called JSON:
[code]

and HanekeSw

[2015-10-05 22:03] levibostian commented on #229
This is also true for extension `NSFileManager` function:
[code]
SwifyJSON has it's own version of this code:
[code]

---

I already went through my code and change all `JSON` instances in HanekeSwift to `JSONData` and removed the function `<`, though it should be renamed. Compiles and works great.

[2015-10-08 23:03] hpique commented on #229
Use fully qualified names. `Haneke.JSON`.

[2015-10-09 15:22] levibostian commented on #229
I will not make a pull request at the moment, but I may in the future. SwiftyJSON is a popular library and so is Haneke. I will for sure be using both in future projects so using fully qualified names for Haneke would be great to resolve this issue again in the future.

Thank you for the help!

[2015-10-09 15:22] #229 closed

[2015-10-10 17:09] MBLESSEN opened #233 "setImagFromURL is not setting the image at all"
In swift 1.2 this code worked and set the images nothing has changed except im using swift 2.0 now.
The images are not displayed.

            let urlString = review.user!.image!
            let url = NSURL(string: urlString)
            vivrcell.userImage.hnk_setImageFromURL(url!)

[2015-10-13 07:59] ZAPHIT opened #234 "CACHE issue.."
Hi, i am using haneke for 1 year, i have used it before on obj. C..

What my issue now is that i fetch the URL with network fetcher..

then handles cache.fetch with fetcher..
it was successful although, when i try to put the device offline,

there are images thats not cached.

on my cache fetch i put a success fail handler, it was successfully cached
but why loading using hnk_setImageFromURL does

[2015-10-14 03:09] ZAPHIT commented on #234
Any feedbacks from this? can someone help me to better understand and implement a good cache technique for our apps that consists of thousands of images.. its like i could cache 90% but not all..

[2015-10-14 10:21] droideca commented on #233
I had the same problem, but it was due to a NSAppTransportSecurity problem. Check that just in case.

[2015-10-15 00:53] ZAPHIT commented on #233
All haneke codes are working.. there might some problems on your code implementation.. the one your showing is just a snippet..

[2015-10-17 02:27] jkosoy commented on #233
I think I'm seeing the same thing as well.

Example Code ::

[code]

[2015-10-17 05:19] ZAPHIT commented on #233
@jkosoy  try removing format, also there is a problem with your closure.. read more about handling closures...

[2015-10-17 05:30] ZAPHIT commented on #215
its already have placeholder.. i think this issue is close.

[2015-10-17 05:33] ZAPHIT commented on #216
Just create your own.. just study activity indicator using swift and integrate that..

[2015-10-19 03:51] iosappdeveloper opened #235 "Strong reference cycle in hnk_setImage > transitionWithView animation block"
Strong reference cycle in `animation` block

    func hnk_setImage(image : UIImage, animated : Bool, success succeed : ((UIImage) -> ())?) {
        self.hnk_fetcher = nil

        if let succeed = succeed {
            succeed(image)
        } else {
            let duration : NSTimeInterval = animated ? 0.1 : 0
            UIView.transitionWithView(self, duration: duration, options: .TransitionC

[2015-10-22 21:27] bespalown commented on #216
+1

[2015-10-25 12:48] imranshams opened #236 "Manually install in xcode 7.0.1 and swift 2.0 does not work"
Hi, Please see full detail error on:
http://stackoverflow.com/questions/33241713/swift-add-haneke-framework-to-xcode-7-0-1-not-work

[2015-10-26 16:49] gedaiu opened #237 "linking error"
[code]

[2015-10-27 07:07] FredLoh commented on #210
+1

[2015-10-27 14:58] DanielOberg opened #238 "HanekeSwift force use of the main queue"
It's impossible to not touch the main queue when using Haneke! This leads to problems for code that should be synchronous but also is in the main queue.

For example: I have put some data into dataCache via the set method and would like to retrieve it in viewDidLoad() before viewDidLoad ends (in my case, retrieving it after would cause flicker and fetching it from disk, even when slow, would be be

[2015-10-28 03:47] bjzhou opened #239 "cannot override Fetcher"
the constructor and method in Fetcher class is not public, so I cannot override it.

And the SimpleFetcher class is not public too.

[2015-10-29 20:31] preble commented on #239
Fetcher's initializer and methods were made public by #224. As for SimpleFetcher, my sense is that it is intended for internal use only.

[2015-10-29 20:33] preble commented on #138
I ran into this too. Thankfully #224 made the initializer and methods on Fetcher public.

[2015-10-30 17:14] scisci commented on #115
Would like to see this fix merged as well, currently have to fork and patch to get around the bug.

[2015-11-02 17:48] Werbelow opened #240 "Clear Image Cache iPhone 5/5s"
This is a great library and works well for iPhone 6 and above, however for iPhone 5/5s, the `cache.removeAll()` isn't working. On iPhone 6 and above, it works as expected and clears the image cache.

When a user uploads a new photo, I clear the cache anywhere the avatar is shown, so the new image will show, however this doesn't work on iPhone 5/5s.

Thoughts on how to fix it?

Thanks!

[2015-11-04 07:54] lsolniczek opened #241 "Memory Leak Backtrace"
Hi,
I've profiled my app and in backtrace Instruments showed me some error in your library. Can you say somethink about it, is it important or just skip it?

![screenshot 2015-11-04 08 53 28](https://cloud.githubusercontent.com/assets/2428163/10932511/a8435d26-82d1-11e5-8132-76d8acf3c3d5.png)

[2015-11-04 16:40] eranmarom opened #243 "Remove all for key"
When setting image from fetcher I wish to keep the original format and not worry about it.
How about a useful method that would remove from cache a key for all formats.
I imagine something like that in Cache....
[code]

[2015-11-04 21:54] #240 closed

[2015-11-04 22:11] Werbelow commented on #127
+1

[2015-11-04 22:19] rickw commented on #203
This would make life much easier.

[2015-11-05 16:32] scisci opened #244 "Example for Preloading"
In our app we'd like to preload a set of images before the imageviews are even ready. Is this possible with Haneke? If so, it'd be great to see an example of how this could be done. The fact that Haneke uses the dimensions of the imagview to cache the image makes me think that I'd have to also preload the image using those dimensions, is that right?

[2015-11-06 12:14] mortenholmgaard commented on #104
+1

[2015-11-08 16:50] egorzhdan opened #245 "Failed to write key <url> with error"
I'm using hnk_setImageFromURL method to load images inside of UITableView custom cell. I'm getting this error:

[HANEKE][ERROR] Failed to write key <url here> with error Error Domain=NSCocoaErrorDomain Code=4 "The file “%6C%57%6C%38%57%55%46%6B%5F%6E%6F%72%6D%61%6C%2E%6A%70%65%67” doesn’t exist." UserInfo={NSFilePath=/var/mobile/Containers/Data/Application/124D0E32-2D2F-4147-B4F6-E7BAD612374E/Libr

[2015-11-10 03:20] yothomas commented on #211
I'm getting this same issue in the current release but the crash logs don't give any useful information. Anyone know what set of conditions leads to this happening? And/or any useful workarounds?

[2015-11-11 11:32] funkenstrahlen commented on #104
+1

[2015-11-12 11:36] trgoofi opened #246 "Image flashing while dismissing a hidden status bar UIViewController"
Steps to reproduce this odd behavior:

1. Create a new project base on HanekeDemo.
2. Embed `ViewController` with a NavigationController and add a new `AnotherViewController` scene.
3. Add a few line of codes:
[code]
Tap a cell to present `AnotherViewController` modally then dismiss it now you can see this flashing behavior.

Conditions:
1.  Require a new project. (Doing it just inside the origin

[2015-11-13 05:17] trgoofi commented on #246
I think I might found the source causing this reshuffling effect.
The anination code inside `ImageView+Haneke.swift` [L124-L127](https://github.com/Haneke/HanekeSwift/blob/305dec9eec596a375698d859b550cf0d3e43d2a8/Haneke/UIImageView%2BHaneke.swift#L124-L127)
[code]
Comment out the animation code the reshuffling effect will go away.
I suspect these few line of animation codes somehow get mess up wit

[2015-11-17 16:42] jorgefal opened #247 "removelAll() doesn't work"
i trying to remove all content of cache with removeAll() function, but i don't see any changes in memory.

[2015-11-18 08:16] datomnurdin opened #248 "It's not working with AWS SDK."
I try to integrate with AWS SDK but the image it's not showing up.

[code]

Please advice. Thank you.

[2015-11-18 08:34] bes opened #249 "Swift 2.1 / XCode 7.1.1: Can't subclass Fetcher?"
First off: I'm really sorry if I'm misunderstanding something. I would be very happy if I was.

However, I can't seem to subclass Fetcher properly

Haneke version (from Cocoapods): 0.10.0

# What I am trying to do
Most of the http fetch/cache libraries for iOS (particularly swift) seem to completely overlook the need for Authorization headers in the API. All I want to do is add authorization to th

[2015-11-19 01:46] trgoofi commented on #249
@bes `Fetcher` is not public for subclass up to version `0.10.0`.  As you can see from #224 this is the latest commit and it has not been included in `0.10.0`.

[2015-11-19 07:58] bes commented on #249
Thanks, makes sense. Hopefully a new version is released to CocoaPods soon.

[2015-11-23 08:45] DeepDiving2015 opened #250 "cache.remove do not work?"
In my project, I use HanekeSwift like this:
          iv_sweetsoup.hnk_setImageFromURL(NSURL( string: Soup.instance.img_url )! )

And when inspect the image has changed on server, I want to refresh image by following code:
                let url = NSURL(string: img_url )!
                let fetcher = NetworkFetcher<UIImage>(URL: url)
                Haneke.Shared.imageCache.remove(key: fetcher.k

[2015-11-26 10:33] kapoorsahil commented on #250
+1

[2015-11-26 14:34] dowhilenet commented on #247
+1

[2015-11-29 21:47] aframe82 commented on #104
+1

[2015-11-29 21:47] aframe82 commented on #104
+1

[2015-12-02 09:03] dle-coursera opened #254 "Fetch all with format name"
Hi,

Is there a way to fetch all data given a format name?

[2015-12-04 14:10] dazzz1er commented on #238
+1 I would like this functionality, I recently needed to block the main queue while attempting fetch from cache while implementing similar functionality as Parse's currentUser. While not an ideal approach (but necessary in this case), it was made impossible by Haneke dispatching cache results to the main queue.

A custom serial queue works, but perhaps we can also have the option to pass a custom

[2015-12-09 19:44] talkaboutdesign commented on #245
Have exactly the same thing happening.

[2015-12-14 10:16] genu1 commented on #250
So I was having the same issue and did the following to resolve the issue

1) Use a format when assigning an image
[code]

2) Instead of calling -remove:, use -remove:formatName:
3) Do it on the main thread
[code]

This worked for me. Good luck.

[2015-12-16 08:41] shaharyakir opened #255 "Reusing same image twice in a view controller with different content modes"
I'm using hnk_setImageFromURL to set an image property of a UIImageView with content mode "Fill"

After the user clicks a button, I want to add the same image again to a different UIImageView with content mode "Aspect Fill".

If I use the first ImageView's image property the image is not scaled well. The only workaround I've been able to use is calling hnk_setImageFromURL on the second UIImageView

[2015-12-17 03:33] DeepDiving2015 commented on #250
@genu1 , Thanks a lot!
your solution works.

[2015-12-17 23:10] DomiR commented on #115
+1 still a problem on iOS9, #207 seems good

[2015-12-20 03:11] dle-coursera opened #256 "Haneke Exception"
I am using Haneke in my app. I'm seeing this exception in the crash logs. Any ideas what the issue might be?

[code]

[2015-12-20 20:58] tolgaytoklar opened #257 "Cannot convert value of type error"
Your example is giving compiler error:

        let URL = NSURL(string: "http://haneke.io/icon.png")!
        let fetcher = NetworkFetcher<UIImage>(URL: URL)
        cache.fetch(fetcher: fetcher).onSuccess { image in
            // Do something with image
        }

Cannot convert value of type 'NetworkFetcher<UIImage>' to expected argument type 'Fetcher<JSON>'

I am using with latest version of s

[2015-12-21 10:57] poolqf commented on #257
Something like:
[code]

Does not work?

[2015-12-21 22:45] tolgaytoklar commented on #257
No

http://prntscr.com/9h00bv

[2015-12-24 06:39] surielb opened #258 "Allow disk cache skip"
In the case of a user deliberately requesting a refresh (Say pull to refresh) it would be great to allow the disk cache to be skipped (without removing the current cache until a fresh version is successfully stored)
Something like the following under Cache.swift:

[code]

[2015-12-24 19:16] carlhunterroach opened #259 "How to POST parameters to a website"
How can I use fetch() to pass parameters to a website in a POST request?

I have calls that are GETs working but can't see an example of a POST.

[2015-12-30 19:47] dcharbonnier opened #260 "CFURLCreateStringByAddingPercentEscapes is deprecated"
[code]

and this project is back ;-)

[2016-01-01 20:23] hpique commented on #115
Finally merged this. Thanks @paulosotu for the pull request.

Worth mentioning that this doesn't fully fix the issue unless you make sure that your whole app uses `UImage.convertFromData` when initialization an image from data.

Hopefully Apple will fix this bug sooner than later and we can remove this workaround.

[2016-01-01 20:23] #115 closed

[2016-01-01 22:52] dcharbonnier commented on #256
This looks like a duplicate of #207, can you try with the current development branch or provide a way to reproduce the crash ?

[2016-01-01 22:54] #239 closed

[2016-01-01 22:55] #138 closed

[2016-01-01 22:55] #249 closed

[2016-01-01 22:58] dcharbonnier commented on #236
I don't think there is a problem here, it's not the right way of including a framework. You should try https://github.com/Carthage/Carthage it make the process really easy

[2016-01-01 22:58] #236 closed

[2016-01-01 23:02] dcharbonnier commented on #211
can you provide a way to reproduce the problem consistently @Skogetroll ?

[2016-01-02 03:05] hpique commented on #260
Um. `stringByAddingPercentEncodingWithAllowedCharacters` doesn't have a  `charactersToLeaveUnescaped` parameter. I think we should continue using CFURLCreateStringByAddingPercentEscapes for now, and possibly file a radar to request a true alternative.

[2016-01-02 03:23] dcharbonnier commented on #260
So this is not a solution ?
https://github.com/simonbs/HanekeSwift/commit/8cb3597efe1973d055d5a583aa051b9cc9ce1e1f

[2016-01-02 03:28] dcharbonnier commented on #198
thanks, not on the readme anymore

[2016-01-02 03:28] #198 closed

[2016-01-02 03:31] dcharbonnier commented on #186
everything is fine with xcode 7.2

[2016-01-02 03:31] #186 closed

[2016-01-02 03:33] dcharbonnier commented on #237
Appletv related, will be fixed this week #231 #232

[2016-01-02 03:33] #237 closed

[2016-01-02 03:34] hpique commented on #260
Sorry, I meant `legalURLCharactersToBeEscaped` instead of `charactersToLeaveUnescaped`. Will edit.

simonbs@8cb3597 escapes all characters (it probably doesn't pass the unit tests). I always intended escaped filenames to be human readable, to help with debugging.

[2016-01-02 03:37] dcharbonnier commented on #227
do you mean this https://developer.apple.com/library/ios/documentation/General/Reference/InfoPlistKeyReference/Articles/CocoaKeys.html#//apple_ref/doc/plist/info/NSAppTransportSecurity ?

[2016-01-02 03:47] dcharbonnier commented on #260
[code]
http://stackoverflow.com/questions/6102333/what-characters-are-allowed-in-a-ios-file-name

[2016-01-02 03:56] hpique commented on #260
Unfortunately the collision risk is not negligible (as it would be with a MD5 hash, for example). Similar file names with illegal characters are very likely to map to the same result. For example:

hello:/world > hello--world
hello/:world > hello--world

[2016-01-02 04:02] hpique commented on #259
You can write your own fetcher using NetworkFetcher as a reference. See the README for more info on fetchers.

[2016-01-02 04:02] #259 closed

[2016-01-02 04:05] hpique commented on #257
@tolgaytoklar According to the screenshot looks like you're trying to use a UIImage fetcher on a JSON cache, hence the error.

[2016-01-02 04:05] #257 closed

[2016-01-02 05:06] dcharbonnier commented on #260
No collision and path readability.
The only non allowed character is NUL. Hard to believe but I can create a filename with a new line, my finder have a hard time displaying it but it work.

![image](https://cloud.githubusercontent.com/assets/6220422/12073279/8048022c-b0cb-11e5-9b42-f06d05641df1.png)

[code]

[2016-01-02 06:50] dcharbonnier commented on #248
not sure to understand what you want to achieve, the purpose of haneke is to cache the images, but if you use a local path you loose this benefit.
You should write your own fetcher as described here https://github.com/Haneke/HanekeSwift#custom-fetchers

[2016-01-02 11:22] #260 closed

[2016-01-03 06:18] joe528 commented on #219
Is there a way to remove all cache files?

Any document to show more examples & all functionalities?

[2016-01-03 18:09] hpique commented on #247
This is most likely a duplicate of #125.

[2016-01-03 18:09] #247 closed

[2016-01-03 20:02] dcharbonnier commented on #213
@thomascsorbamedia does https://github.com/Haneke/HanekeSwift/pull/267 fix your issue / answer your question ?

[2016-01-03 20:03] dcharbonnier commented on #214
@streak22 can you try https://github.com/Haneke/HanekeSwift/pull/267 and tell me if this solve your issue please ?

[2016-01-03 23:01] dle-coursera commented on #256
Hi,

I don't see the correlation between this and #207. I can't reproduce this. The crash log was retrieved from Crashlytics.

Thank you.

[2016-01-04 05:48] hpique commented on #243
That, and a little more. In order to fully delete the key from disk, you also would need to check all the formats that haven't been added to `self.formats` yet. It would be similar to #267, but instead of removing everything you'd have to loop over all directories searching for the key.

[2016-01-04 06:24] #125 closed

[2016-01-04 06:32] dcharbonnier commented on #256
right, sorry

[2016-01-04 06:39] dcharbonnier commented on #256
#211 is in the same function setDataSync

[2016-01-04 09:42] carlhunterroach commented on #259
that's great. I'll give it a go.

On Sat, 2 Jan 2016 at 04:02 Hermes Pique <notifications@github.com> wrote:

[2016-01-05 00:36] dcharbonnier opened #269 "create a travis build matrix"
Build on different devices and with the two targets (tvOS and iOS)

https://docs.travis-ci.com/user/customizing-the-build/#Build-Matrix
https://docs.travis-ci.com/user/languages/objective-c/#Build-Matrix

Example :
https://github.com/Alamofire/Alamofire/blob/master/.travis.yml

[2016-01-05 15:54] diprajak commented on #227
No. Alamofire gives you API to setup Trust policy. I was looking for same feature
https://github.com/Alamofire/Alamofire#security

[2016-01-05 16:55] hpique commented on #227
@diprajak I would recommend for you to write your own fetcher using NetworkFetcher as a reference. See the readme for more info.

[2016-01-05 16:55] #227 closed

[2016-01-07 12:06] betaSavvy commented on #250
@DeepDiving2015

hi, may i ask how do you inspect if the images has been updated with same file name?

[2016-01-07 21:47] hpique commented on #250
We made a few related changes in #267 that should have made this better. A new version will be pushed soon.

[2016-01-07 21:51] #199 closed

[2016-01-07 22:21] dcharbonnier commented on #245
Is there a way to reproduce this, can you share a piece of code ?

[2016-01-07 22:25] dcharbonnier commented on #233
I don't think there is a bug here, ping me if I'm wrong I will reopen. thx

[2016-01-07 22:25] #233 closed

[2016-01-07 22:26] dcharbonnier commented on #226
Very similar to #244

[2016-01-07 22:31] dcharbonnier commented on #180
correct me if I'm wrong but if you use the the UIImage extension you have the shared cache and you can't set the diskCapacity @hpique

[2016-01-07 22:33] dcharbonnier commented on #248
If you need help I'm available on gitter or you can post a question here http://stackoverflow.com/questions/tagged/haneke

[2016-01-07 22:33] #174 closed

[2016-01-07 22:33] #248 closed

[2016-01-07 22:35] dcharbonnier commented on #214
assuming #267 work

[2016-01-07 22:35] #214 closed

[2016-01-07 22:41] hpique commented on #215
NSURLSession might be doing this already. If not, you can always subclass NetworkFetcher or implement your own with a different network policy.

[2016-01-07 22:41] #215 closed

[2016-01-07 22:46] dcharbonnier commented on #157
fixed with #267

[2016-01-07 22:46] #157 closed

[2016-01-07 22:51] dcharbonnier commented on #127
related to #104

[2016-01-07 22:52] dcharbonnier commented on #131
the comment say solved

[2016-01-07 22:52] #131 closed

[2016-01-07 22:55] hpique commented on #111
Closing this as it's less and less likely that new people will find it helpful.

[2016-01-07 22:55] #111 closed

[2016-01-07 22:57] hpique commented on #75
Closing due to inactivity.

[2016-01-07 22:57] #75 closed

[2016-01-07 23:41] hpique commented on #180
You can set a custom format via hnk_format, with a custom disk capacity.
On Thu, 7 Jan 2016 at 22:31, dcharbonnier <notifications@github.com> wrote:

[2016-01-09 12:40] schmichri opened #273 "remove image from all FormatName"
Hey,
when I set an image to an UIImageView (scaled) with the hnk_setImageFromUrl extension function, how can I remove this again from the Cache.
I've tried:
 `profileImageView.hnk_setImageFromURL(NSURL(string: imageUrl)!)`
` Shared.imageCache.remove(key: imageUrl!)`

checking the FileSystem and reading the code it's only removes images from `HanekeGlobals.Cache.OriginalFormatName`
which still lead

[2016-01-09 23:47] hpique commented on #273
Thanks @schmichri!

You can do:

`Shared.imageCache.remove(key: imageUrl, format: profileImageView.hnk_format.name)`

Still, I think we probably should have a `removeFromAll` method.

[2016-01-09 23:47] #273 closed

[2016-01-10 08:20] schmichri commented on #273
OK this works. Thank.

Just for completeness:
`Shared.imageCache.remove(key: imageUrl, formatName: profileImageView.hnk_format.name)`

[2016-01-10 12:19] hpique commented on #273
Edited. Thanks!

[2016-01-10 17:23] estemendoza commented on #104
+1

[2016-01-10 18:17] estemendoza commented on #203
+1

[2016-01-12 11:43] joe528 opened #274 "When cells are scrolled off screen, will the image download request be cancelled?"
I am using HanekeSwift in a table view. When I scroll quickly, some cells are off screen and their images are not shown. Would the image network requests for these off-screen cells be cancelled automatically?

[2016-01-13 14:01] thomascsorbamedia commented on #213
Yeah, thanks for help looking, found an other solutions that is more compliant with my needs.

[2016-01-13 16:09] dcharbonnier commented on #213
Prefect!

[2016-01-13 16:09] #213 closed

[2016-01-13 16:34] djdance opened #275 "conflict with SwiftyJSON"
this works in SwuftyJSON
[code]

and not work with Haneke added.
XCode says
**Cannot invoke 'JSON' with an argument list of type '([_ : _])'**

[2016-01-13 16:39] djdance commented on #275
also redeclaration of func <

[2016-01-14 16:53] talkaboutdesign commented on #245
I am setting my images inside a CollectionViewCell. Everything is smooth right away, scrolling down a collection view. If you quickly jump back up, these errors popup all the time. I am using lots of images. Sometimes the number can get high, like 200-300.

[code]

FYI I am also seeing a leak in Instruments that points back to this code in Haneke:

<img width="1284" alt="screenshot 2016-01-14 11 4

[2016-01-15 20:17] rmuhamedgaliev commented on #216
+1

[2016-01-16 01:38] hpique commented on #275
Hi @djdance. If you import both Haneke and SwiftyJSON, or anything else that defines a JSON type, you need to use fully qualified names (e.g., `Haneke.JSON`).

[2016-01-16 01:38] #275 closed

[2016-01-16 01:43] hpique commented on #274
Hi @joe528.

No. You can call `hnk_cancelSetImage` in `prepareForReuse`, for example.

[2016-01-16 01:43] #274 closed

[2016-01-16 03:48] joe528 commented on #274
Thanks. Now I call hnk_cancelSetImage() in prepareForReuse().

Is there any extra checking I should do?

[2016-01-20 17:53] jbraun002 commented on #158
This would be great - I'm searching for a way to test if the cache has an item but haven't found any call that does this (so far).

[2016-01-20 19:21] rosendi commented on #158
@jbraun002 I don't remember all the details, but I achieved it in this way:

[code]

Example:

[code]

As I remember you can query the cache directly if you know a key:

[code]

Sorry, it was a long time ago.

[2016-01-24 22:39] elGeekalpha commented on #219
I need to remove cache too. Someone knows if Objective-C versions has this features?

[2016-01-25 03:05] Huato115 commented on #219
+1

[2016-01-25 15:48] dcharbonnier commented on #219
Check that : https://github.com/Haneke/HanekeSwift/pull/267
Any PR to enhance the documentation is welcome.

This issue is to get the size of the cache so I don't close it, I reply to the comments are not related to the issue.

[2016-01-28 09:03] eranmarom commented on #225
I am having similar issues. Why does the button format does not match the content mode? With buttons, you don't even have the option to set AspectFill, only Fill or AspectFit?

[2016-01-28 16:00] dowhilenet opened #277 "variables may not be available"
error:

Haneke was compiled with optimization - stepping may behave oddly; variables may not be available.

[2016-01-29 07:48] mokai opened #278 "Show a black line under iPhone6s Plus"
![41cceaca-feb7-4840-9955-ae394a086eb7](https://cloud.githubusercontent.com/assets/4702757/12669940/548334ec-c69f-11e5-97a9-368acede989e.png)
Like this，Under the other device to normal

[2016-01-29 21:07] Jayrok94 opened #280 "Use diskcache for large group of images"
I cant seem to find out how to do this. Please point me in the right direction thanks.

[2016-01-30 20:10] dcharbonnier commented on #280
No sure to understand the question, haneke cache on disk out of the box.

[2016-01-30 20:14] dcharbonnier commented on #278
can we see the related code ? this is most likely unrelated to haneke

[2016-01-30 20:23] dcharbonnier commented on #277
I just checked, all settings related to optimization are correct for debug.
You can find many ressources on stack-overflow on how to compile you project without optimisation.

[2016-01-30 20:23] #277 closed

[2016-02-01 11:49] raptox commented on #206
Please what was the answer? I need this.

My app crashes when the user scrolls through too many pictures ...

[2016-02-04 07:15] shaharyakir commented on #211
Happens to us as well. Using a created cache.

![image](https://cloud.githubusercontent.com/assets/5641469/12808461/cfb5fecc-cb1f-11e5-9a60-8d21597cbbaa.png)

[2016-02-09 16:54] karthikAdaptavant commented on #241
Hi did you find solution for it. am getting the same memory leak .let me know is there any work around to fix it

[2016-02-10 05:56] heshjit commented on #250
I am facing the same problem. I tried the given solution but its not working for me. Is there anything I need to take care?

[2016-02-10 21:44] michaelbina commented on #216
I have a similar/related question:

I'm currently using the LoadingImageView library (https://github.com/ggamecrazy/LoadingImageView) to show a progress indicator before the images finish loading.   I start off the process by calling:

`func downloadImage(URL: NSURL, placeholder:UIImage?)->NSURLSessionDownloadTask`

on the LoadingImageView object which kicks off the download and loads the image.

[2016-02-11 18:07] CHNGCHNG commented on #180
How can you access to the diskCapacity when formats are invisible from public interface?

[2016-02-15 06:42] mokai commented on #278
@dcharbonnier
self.imagesView.hnk_setImageFromURL(url, placeholder: nil)

[2016-02-15 06:45] mokai commented on #278
The image link is http://rent.biketo.com/uploads/images/201601/20160126174610_lmwgh.jpg

[2016-02-20 12:46] joe528 opened #283 "What kind of settings can maximize UI scrolling performance?"
I have a table view where each cells have an image that will be downloaded via HanekeSwift.

There is a bit of jerkiness while the images are downloaded.

What kind of settings can be made in HanekeSwift to maximize UI scrolling performance?

[2016-02-26 10:54] patricks commented on #283
+1

[2016-02-27 02:25] joe528 commented on #250
After calling `Haneke.Shared.imageCache.remove(key: )` for multiple cached images, the memory does not decrease.

It is not working.

However, `removeAll()` works.

[2016-02-29 11:47] georgi3web opened #284 "Problem in hnk_format"
This error appears after migration to swift 2 in xcode 7.3
![screen shot 2016-02-29 at 1 42 52 pm](https://cloud.githubusercontent.com/assets/15086000/13393531/b0cfe0ca-deea-11e5-8f26-77e6abb48145.png)

[2016-02-29 15:49] joe528 commented on #284
I had this crash too, I have to check the image size > 0 before calling hnk_setImageFromURL().

It's better to have some fault tolerance instead of calling assert()

[2016-03-01 19:18] arabfono opened #285 "How to refresh JSON cache?"
I am using Haneke for caching remote JSON. Caching works well but when I change the remote JSON file and call fetch (multiple times) still get old data from cache. Is any way how to force the fetch to update the cache?

[2016-03-04 16:27] zackshapiro commented on #283
+1

[2016-03-07 04:34] #129 closed

[2016-03-07 18:59] aksh1t commented on #283
+1

[2016-03-10 00:36] joaoamaral opened #286 "pod for tvOS"
Hi! pod for tvOS is not working

[2016-03-10 04:20] frangeris commented on #101
I have the same issue, just for future references if somebody stuck with this, here my workaround (I'm reusing the player of [SCRecorder](https://github.com/rFlex/SCRecorder))

[code]

Thank's @jamescmartinez for show the way...

[2016-03-11 19:48] kevinlieser opened #287 "setImageFromFile not showing up image"
I have an image from Photo library with file Path "file:///var/mobile/Photos/..." something like that. The image is not showing up - even when i remove the "file://". How can i display images from filesystem?

Getting the path like that:

[code]

[2016-03-14 09:36] LadyDeveloper commented on #286
I have the same problem!

[2016-03-14 14:02] dcharbonnier commented on #286
Why don't you use Carthage?

[2016-03-15 12:17] attheodo opened #288 "HanekeSwift skips some images when app is performing heavy I/O"
Hello guys,

I have a `UICollectionView` displaying some images using Haneke's `hnk_setImageFromURL:` method.

In the meantime, in one of my own concurrent queues of service class "background", I am performing some heavy network and I/O operation. Here's the snippet.

[code]

The issue is that when this operation is running in the background, Haneke doesn't load a significant amount of images in t

[2016-03-18 07:29] haifengkao opened #290 "HanekeTest is unable to be compiled"
I tried to execute 'HanekeTest', but it failed with
`~/HanekeSwift/HanekeTests/HanekeTests-Bridging-Header.h:5:9: 'OHHTTPStubs/OHHTTPStubs.h' file not found`

[2016-03-19 17:07] jpincheira commented on #101
thanks @frangeris, works perfect!

[2016-03-20 16:04] Fosile commented on #283
+1

[2016-03-24 10:41] ricgreenfield opened #294 "C-style for statment deprecated Swift 2.2"
Hello everybody i have this issue C-Style for stament deprecated with Swift 2.2 and Xcode 7.3...any help?

`for (var i = 0; i < tmpMessage.length; i = i + chunkSizeBytes, leftMessageBytes -= chunkSizeBytes) {`

[2016-03-25 13:55] amirfarouk opened #296 "NetworkFetcher class error with function response.hnk_validateLengthOfData"
Value of type 'NSURLResponse' has no member 'hnk_validateLengthOfData'

[2016-03-26 17:00] keith commented on #294
You can solve this by changing it to:

[code]

Really this project should be depending on [CryptoSwift](https://github.com/krzyzanowskim/CryptoSwift) directly though, instead of copying the files from there

[2016-03-27 18:25] groovz opened #298 "Getting currently fetching keys list"
Hi,

Is there any place in the code where we can see the currently fetching keys? or currently active fetchers?
(even if it's private and not public)

Thanks

[2016-03-28 11:11] robin7331 opened #299 "Remove old cache entries?"
Hey guys,

I'm wondering if there is a way to remove all stored data that is older than a specific timestamp?
The only thing that I found is to clear a specific cache path oder the entire cache.

Is my desired functionality already present in HanekeSwift or do I have to implement this on my own?

Thanks!

[2016-03-28 11:36] sreeji44 opened #300 "When i install this library so many error is occuring"
![screen shot 2016-03-28 at 5 10 46 pm](https://cloud.githubusercontent.com/assets/16497980/14077250/5997f53a-f507-11e5-9cf6-ee82f8dcc6d4.png)
solution for this

[2016-03-28 11:41] robin7331 commented on #300
Did you open the *.xcodeproj instead of the *xcworkspace after pod install?

[2016-03-28 12:02] sreeji44 commented on #300
ya i install pod on my project .. and i open xcworkspace....

[2016-03-29 14:28] Krizai commented on #205
Should be fixed after 5fff29f52a0a6e290934974b8270cf45044a2bd0

[2016-03-29 14:28] #205 closed

[2016-04-01 08:41] JesusAdolfo opened #302 "Loading image from URL?"
I tried to load an image from its url but had no success in doing so

is this the way to do it?

cell.thumbnailImageView.hnk_setImageFromURL(NSURL(fileURLWithPath: imageEndPoint))

seems pretty straightforward in the docs, maybe I am skipping something?

[2016-04-02 03:33] JesusAdolfo commented on #254
fetching all images under the "icons" format

 let imgCache = Shared.imageCache
        let iconFormat = Format<UIImage>(name: "icons", diskCapacity: 10 * 1024 * 1024) { image in
            return image
        }
        imgCache.addFormat(iconFormat)
        let URL = NSURL(string: imageEndPoint)!

        imgCache.fetch(URL: URL, formatName: "icons").onSuccess { image in
            cell.thumbn

[2016-04-02 03:37] JesusAdolfo commented on #302
I ended up doing this but was not able to change the format... I want to downsize and enhance the download by bringing smaller images than the one in the API that I am working with. Is it possible?  Images in my API are big but I would like to increase performance by using 80x80px images

let imgCache = Shared.imageCache
        let iconFormat = Format<UIImage>(name: "icons", diskCapacity: 10 * 10

[2016-04-03 02:16] alimertturker commented on #101
@frangeris  Hi I have tried to implement your way in uitableview but when I scroll fast I can not watch the cached data.

[2016-04-03 03:43] frangeris commented on #101
@alimertturker More details, maybe we can help you.

PS: have in mind that resources loaded for cell in table view could crash cuz index change and cells are reusable while you scroll...

[2016-04-03 04:42] alimertturker commented on #101
Actually I am trying to build an app like vine. I have two Player in my class and I am adding them with respect to its number for example if row is odd I am adding player 1 otherwise player 2. I ve tried to implement your code in tableview cellforrowat indexpath but when I scroll so fast after some point players can not load and it causes a lag. Now I am using a temporary basic solution

cache.fet

[2016-04-03 09:18] misuqian opened #303 "How can i use a conditional fetch like regular expression or NSPredicate"

[2016-04-03 13:01] ealeksandrov commented on #195
This is really useful method and I can't see a logic why `Cache` have `fetch` for one item, but not for a number of items.
Queuing a number of items in array and linking them all in a callback is a pain. I had to switch to another library because of this.

[2016-04-03 17:05] orkenstein commented on #213
@thomascsorbamedia
Hi!
What was the solution? How to remove ALL data?

[2016-04-04 10:40] thomascsorbamedia commented on #213
Hi @orkenstein , i stopped using hanekeSwift, to buggy for me. i use a background task to download all the images and other files. to delete them i created i function that deletes all the files within a specific directory in my app. However, the above solution did not work for me.

[2016-04-04 11:25] misuqian commented on #303
[code]

[2016-04-05 13:07] hash3r commented on #284
assert? really? seems like do not have "Extra ♡ for images" like you wrote on main page

[2016-04-12 03:43] chenjian199203 opened #304 "How to obtain progress loading image?"
Use HanekeSwift load the network picture, but the picture is relatively large, I want to show a progress bar to the user, how to get a percentage of the value of the progress of it?Thanks~

[2016-04-12 13:10] djdance commented on #275
I do not use Haneke.JSON but it uses it itself somewhere. So I just commented 3 items

Data.swift: public enum JSON ...
Haneke.swift: public static var JSONCache...
NSFileManager+Haneke.swift: func < ...

[2016-04-12 14:07] djdance commented on #163
I have to to support 7.0 and can not build/add Haneke.framework, nor official instruction, it all fails.

I just dropped all swift files to my project. And it works. For last 2 months, on every device.
But now on old 7.0 it crashes (iOs8 still fine)

[code]

here is

[code]

[2016-04-13 07:27] eyaldar opened #305 "Fetching UIImage from custom cache causes resize"
Hi,

I've been having a problem where although I define a custom cache and format with a considerable large size. Images are still being resized after transformation.

This is my code:

`
            let cache = Cache<UIImage>(name: "confirmCache")
            let fullSizeFormat = Format<UIImage>(name: "fullSize", diskCapacity: 1024 * 1024 * 1024 * 1024) { image in
                return image

[2016-04-14 00:38] pgherveou opened #306 "should ObjectWrapper inherit NSObject"
Hi there, thanks for this awesome open source project
Quick question. Since NSCache is expecting an AnyObject value

ObjectWrapper could just be a simple class and dont really need to inherit NSObject
since all Class conform to the AnyObject protocol ?

https://github.com/Haneke/HanekeSwift/blob/master/Haneke/Cache.swift#L12

[2016-04-14 16:34] gecoool commented on #273
Hey there. I had the same problem as this one. I've tried a couple of combinations, removing all cache, disk image for key, etc, but in the end I have realized that my problem was in the NSURLSession, because that was the default session (so my image was cached by the OS), using the default requestCachePolicy. I am posting my solution here in the event that someone would have to refresh an image u

[2016-04-17 09:48] KrifaYounes opened #308 "Iphone 4 ios7"
IN ios7 there is a exception on Cache < NSData >
 signature specialization < Arg[0] = Exploded, Arg[1] = Exploded > of Swift

[2016-04-20 08:46] adrienl commented on #296
I'm having the same problem. What can we do ?

[2016-04-21 04:44] patthehuman commented on #101
@frangeris thanks for the snippet. Question: Is there a way to get it working with AVPlayer?

[2016-04-21 05:21] frangeris commented on #101
@patthehuman Haneke give you NSData object, AVPlayer needs an [NSURL](https://developer.apple.com/library/ios/documentation/AVFoundation/Reference/AVPlayer_Class/#//apple_ref/occ/instm/AVPlayer/initWithURL:) or [AVPlayerItem](https://developer.apple.com/library/ios/documentation/AVFoundation/Reference/AVPlayer_Class/#//apple_ref/occ/instm/AVPlayer/initWithPlayerItem:) object, that snippet is the o

[2016-04-21 06:29] patthehuman commented on #101
@frangeris i see.... very interesting. I looked further into the issue and i noticed that the FIRST time you cal the cache onSuccess, it wont show up. if you call it again, however, it will show up. I made it so if the cache file doesnt exists, write the NSData to it, and read that. The in the future, the file will exist, and work fine

                        let URL = NSURL(string: location)!

[2016-04-27 08:34] groovz opened #309 "Set custom when fetching from URL"
I think adding this possibility will be pretty helpful, because currently it always uses the url as the key.

[2016-04-28 11:02] gaudecker opened #310 "Fetch without write / Read-only"
In my use case, I need to fetch an image from a cache using the original URL of the image as the key. I do not want to save new images into the cache, just fetch any existing ones.

Is this supported at the moment?

[2016-04-29 22:23] andreyrd commented on #145
Why does it have to do an assert by default, causing the app the crash? Why not fall back to loading the full sized image? In my opinion, this shouldn't be a fatal error. I ended up writing an extension that falls back to full size if the image view has a zero size:
[code]

[2016-05-06 01:04] heyalexchoi opened #311 "synchronously check if item is cached"
is there no way to synchronously check if an item is cached? i am particularly interested in this operation for the disk cache.

if not, i can add it. is there any reason this feature would not be desirable?

essentially i would want to provide an accessor on Cache to check if a file exists at a path for a key.

[2016-05-06 06:37] dcharbonnier commented on #311
Any asynchronous call can be synchronized on your side and generally speaking accessing storage synchronously does not seams like a good approach. What is preventing you from synchronization on your side and what is the use casse ?

[2016-05-06 09:41] zhouzizi opened #312 "Do you support webp picture format?"
Do you support webp picture format?

[2016-05-06 09:42] zhouzizi commented on #312
And cache webp picture format

[2016-05-06 15:46] heyalexchoi commented on #311
the use case is to check if a resource exists in the cache before making a network request to get it.

as far as i can tell, and please correct me if i'm wrong, there is no way to see if an item is cached without actually fetching for it. if this is true, it seems unnecessarily expensive to load the whole object when i really just want to see if it exists.

i was planning on adding some methods to

[2016-05-10 04:13] Junus commented on #104
+1

[2016-05-10 14:15] lubiluk commented on #255
By default Haneke applies a format to downloaded images which crops them accordingly to the content mode of the view. That's why when you try to reuse it it may not scale as you would expect. If you want a different behaviour you can provide your own format (or nil perhaps).

You can also use cache directly: Fetch the image and set it in the two views.

[2016-05-10 14:19] lubiluk commented on #255
Although I think it would be nice if two same network fetches could be automatically merged into one.

[2016-05-13 12:43] silonab commented on #158
This is the solution I've found:

`let cache = Shared.imageCache
        cache.fetch(key: url, formatName: HanekeGlobals.Cache.OriginalFormatName, failure: { (error) in
            // image does not exist, need to fetch from URL
            cache.fetch(URL: NSURL(string: url)!, formatName: HanekeGlobals.Cache.OriginalFormatName, failure: { (error) in
                print(error)
            }) { (

[2016-05-13 12:46] silonab commented on #158
This is the solution I've found:

[code]

[2016-05-14 16:44] KrifaYounes opened #313 "Exception ios7 bug"
# I have got a exception on iPhone 4 ios7

 0x34139c <+44>:  bl     0x341418                  ; type metadata accessor for __ObjC.NSData

[2016-05-15 08:14] brendand opened #314 "Any chance of modifying this to work on OS X with NSImage?"
I am using your awesome library for my iOS app, but I would also like to use it in the OS X version of my app.

Any chance that it could return NSImages instead of UIImages when running on OS X?

[2016-05-16 09:07] leizard commented on #104
+1. I'm going to use this and stop when I find this function is not supported. I wonder why ?

[2016-05-16 09:37] leizard opened #315 "check length of a cache"

[2016-05-16 18:53] patthehuman commented on #314
Can't you just store the image as NSData?

[2016-05-16 21:26] brendand commented on #314
Sure, but all the methods in this framework either accept or return UIImages. I guess I can fork it and see if I can change it to use something more generic which can then maybe have a macro setup which uses UIImage on iOS and NSImage on OS X.

[2016-05-20 17:29] simoami opened #316 "Haneke and caching Facebook graph requests"
Is there a way to tweak Haneke to cache an async code block under a string key? The reason being that by using the FB sdk, the api requests are wrapped into convenience methods. So there's not url to pass on to Haneke

Ideally, I'd like to be able to create a custom fetcher to allow me to run any async block and cache its result under a specific key.
e.g.

[code]

Any pointers on how to go about i

[2016-05-20 21:45] tavonkelly commented on #304
+1

[2016-05-20 21:46] tavonkelly commented on #216
+1

[2016-05-21 03:11] simoami commented on #316
fyi, this is what I came up with:

[code]

[2016-05-23 09:00] Hengyu commented on #298
My current workround is generate a string file which contains all the keys, and cache this file under the same directory.

[2016-05-24 18:55] drosenstark opened #317 "Solution to Haneke fails on CGSizeZero UIImageView"
Haneke fails one of its asserts if you try to load using `hnk_setImageFromURL` when the `UIImageView` is size zero. This is my hack to deal with this:

[code]

Is this redundant with some functionality in Haneke? If not, possibly it's useful to somebody else... thanks!

[2016-05-27 07:46] TosinAF commented on #317
Quick heads up

You can avoid all that with hnk_setImageFromURL(url, format: Format<UIImage>(name: "original"))

Using a standard format disables the resizing that leads to that crash when the imageView has no frame due to autolayout.

[2016-05-27 15:33] drosenstark commented on #317
thanks!!! so, in your solution which image is cached? in my solution, is it both the original and the resized? thanks for this response!

[2016-05-27 16:59] TosinAF commented on #317
Happy to help, so basically Format original, caches the original image, no resizing is done.

If you wanted, you could pass in a custom format and the result of that is what is cached.

let iconFormat = Format<UIImage>(name: "icons", diskCapacity: 10 * 1024 * 1024) { image in
    return imageByRoundingCornersOfImage(image)
}

[2016-05-28 01:58] drosenstark commented on #317
So my class, though it was created in ignorance, could kind of make sense to cache the resized image, assuming that the frame gets set and changes to a non-zero size only once?

[2016-05-28 03:32] dcharbonnier commented on #316
thx for the update @simoami

[2016-05-28 03:32] #316 closed

[2016-05-31 04:29] juanjold commented on #127
is there a way to accomplish this? I've spent a very long time trying to figure this out and I can't clear the cache/load the image from the URL, it keeps fetching the old one.

[2016-05-31 07:05] KarrePrakash opened #318 "NSFileAttribute() file size crash in HanekeDiskCache, Stack trace is attached"
Crashed: io.haneke.original
0  libsystem_kernel.dylib         0x183d70140 __pthread_kill + 8
1  libsystem_pthread.dylib        0x183e38ef8 pthread_kill + 112
2  libsystem_c.dylib              0x183ce1dac abort + 140
3  libsystem_malloc.dylib         0x183da4d34 free_list_checksum_botch + 438
4  libsystem_malloc.dylib         0x183da4d58 free_list_checksum_botch + 36
5  libsystem_malloc.dylib

[2016-05-31 07:07] KarrePrakash opened #319 "Crash in ImageResizer Haneke, Stack trace is attached"
Crashed: com.apple.root.default-qos
0  Haneke                         0x100e0b070 _TToFE6HanekeCSo7UIImage24hnk_imageByScalingToSizefS0_FVSC6CGSizeS0_ + 164
1  Haneke                         0x100dfdef4 _TFV6Haneke12ImageResizer11resizeImagefS0_FCSo7UIImageS1_ + 360
2  Haneke                         0x100e0e7a0 _TPA__TFZFVV6Haneke13HanekeGlobals5UIKit14formatWithSizeFMS1_FTVSC6CGSize9scaleModeOVS_

[2016-06-07 13:46] maxgorodivskyi opened #320 "tvOS is not supported in CocoaPods"
Hello, today I've tried to include Haneke to my tvOS app through CocoaPods and Received
![screen shot 2016-06-07 at 4 41 24 pm](https://cloud.githubusercontent.com/assets/18209424/15859712/e9b53cfa-2cce-11e6-8241-9623b19d5d58.png)
I've tried adding last version, same result
pod 'HanekeSwift', '~> 0.10.1’

However I was able to install AltHanekeSwift

[2016-06-07 14:02] dcharbonnier commented on #320
I'm really encouraging you to use Carthage instead of cocoapods

[2016-06-08 21:56] Macmee commented on #245
+1 also having this issue

[2016-06-09 05:59] markltownsend commented on #320
Why use Carthage instead of Cocoapods? I don't see any advantage

[2016-06-09 12:59] alexwheeller commented on #319
Happens occasionally in my app too when accessing cached images:

Crashed: com.apple.root.default-qos
0  Haneke                         0x1005bf24c @objc UIImage.hnk_imageByScalingToSize(CGSize) -> UIImage (UIImage+Haneke.swift:18)
1  Haneke                         0x1005b2708 ImageResizer.resizeImage(UIImage) -> UIImage (Format.swift:90)
2  Haneke                         0x1005c250c partial apply

[2016-06-09 16:26] dcharbonnier commented on #320
The advantage for this issue is that hanekeswift is compatible, any commit is, out of the box.
Now I don't want to enter a troll ;-) there is plenty of carthage vs cocoapod articles on the web :-)

[2016-06-09 19:29] hashemp206 opened #321 "Reuse existing image request task"
does hanks reuse existing image fetch request or create new one?
I mean is there will be only one network request per URL, regardless of how many times it's been asked for?
I have a custom collectionView with custom collectionView layout, which I invalidate layout as user scroll, so cell configuration methods gets called a lot, as I see in Xcode debug navigator, network requests doesn't rest, whil

[2016-06-10 03:43] KarrePrakash commented on #319
Did find any solution for this or work around ,really helps.

[2016-06-10 03:53] KarrePrakash commented on #318
Hello guys any clue over here to solve.

[2016-06-14 10:56] miciny opened #322 "when import it, crash"

[2016-06-14 10:56] miciny commented on #322
it's ok now, sorry

[2016-06-14 10:56] #322 closed

[2016-06-20 00:34] jordanekay opened #323 "Swift 3.0 Branch"
I'd like to make a pull request to add support for Swift 3.0 to SVGPath. Could you make a `swift/3.0` branch for me to merge into? Thanks!

[2016-06-20 16:33] dcharbonnier commented on #323
thx https://github.com/Haneke/HanekeSwift/tree/feature/swift-3

[2016-06-20 16:33] #323 closed

[2016-06-23 08:10] laraibmalik90 commented on #211
![screen shot 2016-06-23 at 1 09 55 pm](https://cloud.githubusercontent.com/assets/19681142/16296079/d8a471d4-3943-11e6-9bab-62f2b6e1acee.png)
same thing happened in our app, when are you guys planning to fix it?

[2016-06-23 17:15] jamieomatthews commented on #323
@jordanekay whats your progress on this?  If you've already done this, no need to duplicate the work here.  Thanks!

[2016-07-08 21:41] rlam3 commented on #185
+1 I'm getting the same error @thomascsorbamedia did you find a workaround? Thanks!

[2016-07-10 04:39] ndduong97 opened #327 "Deprecation with Xcode 8"
Can you please fix some deprecation warnings for it to work with Xcode 8? Thanks!

[2016-07-12 18:40] mettini commented on #104
+1

[2016-07-14 09:24] ctews opened #329 "Swift 3 Support"
Hey guys,

I saw that theres a branch `feature/swift-3` but it doesn't seem to be maintained. Are there any news regarding Swift 3 support? Would be great!

[2016-07-14 19:23] alpennec commented on #329
I am also interested.
I am not able to build the Haneke framework using Carthage with Xcode 8 b2 / Swift 3.
I use the "feature/swift-3" branch. Find below the error message logged in the terminal.

[code]

<img width="1029" alt="screenshot 2016-07-14 21 23 26" src="https://cloud.githubusercontent.com/assets/2082662/16852642/3a778c68-4a09-11e6-9d09-a573988f3c70.png">

Any idea how to get a correct

[2016-07-15 01:07] acegreen commented on #285
@arabfono any progress on this? It would be nice if we could load from cache while fetching new data.

[2016-07-18 17:06] chadmoone commented on #320
I understand that you're encouraging the use of Carthage, but as you stated, there are plenty of Carthage/CocoaPods articles on the web, and both sides are represented.  CocoaPods also has drastically higher adoption overall.

Are you implying that you don't intend to support CocoaPods for all platforms going forward?

[2016-07-19 13:23] shrikantwalekar-tudip opened #330 "Does Haneke support .svg format."
Hi, I am new to iOS and using this amazing library for getting images from url. I am facing a problem with fetching .svg image.
What I am doing is
ImageView.hnk_setImageFromURL(imageUrl, placeholder: UIImage(named: "placeholder.jpg"))

I have verified the image url on browser.
What should I do ??

[2016-07-20 07:46] alpennec opened #331 "Swift 2.3 support - branch missing?"
Hello,
I can't find any branch for iOS Swift 2.3.
Is is possible to have one so we can start migrating Haneke Swift to Swift 2.3 (+ use it in our projects with Carthage and CocoaPods).
Thanks,
Axel

[2016-07-20 12:22] shrikantwalekar-tudip commented on #330
Hi, really need help on this one !!

[2016-07-25 01:22] jdulb17 opened #332 ".onSuccess Continues Running?"
I have a program that in the viewDidLoad function, calls a cacheSearch function. If cache is found (using .onSuccess), it returns the value in the cache. If it is not found, I search a website and then cache the response data. When walking through my program, I found it runs like this:
1. search for cache?
2. Not found, search website
3. Retrieve data, cache it
4. Cache found

I do not want step #

[2016-07-29 05:19] HamAndBean opened #333 "formatWithSize----change size.with and size.height to int"
we print all images path cached in iphone, "/Library/Caches/io.haneke/shared-images/auto-124.333333333333x93.0-aspectfill/http%3A%2F%2F********"

can I change the "let name = "auto-\(size.width)x\(size.height)-\(scaleMode.rawValue)""
into "let name = "auto-\(Int(size.width))x\(Int(size.height))-\(scaleMode.rawValue)""

[2016-07-29 14:32] odrianoaliveira commented on #104
+1

[2016-07-29 22:14] dcharbonnier commented on #330
hi,
There is no svg support for ios, it's not related to haneke

[2016-07-29 22:14] #330 closed

[2016-08-02 08:35] Tokanod commented on #329
Hi,

It's a bit worrying not to have any answer on this thread for 19 days.
Is it a summer holidays effect or there is no plan anymore to maintain HanekeSwift?

Thanks.

[2016-08-02 08:38] Nemixdre commented on #329
Hi,

It's a bit worrying not to have any answer on this thread for 19 days.
Is it a summer holidays effect or there is no plan anymore to maintain HanekeSwift?

Thanks.

[2016-08-02 08:50] KTMarc commented on #329
I guess that people have their own paid work and they do open source when they can.

In one of my projects I had this HanekeSwift pod and now I can't use XCode 8 (and its shiny new features) because I'm relying too much on this library. It's too much inside the core of my logic. That's because the library is really good and does many things 😌

I'm creating another branch for my project to substitu

[2016-08-02 08:51] alpennec commented on #331
Any update on this? The code needs to be updated to support Swift 2.3. Still having issues building the project.

[2016-08-04 17:20] ndbroadbent commented on #309
I would like to add my +1 for this feature. My specific case is that I am fetching images from an S3 bucket, but they are all authenticated using query string parameters. So I would like to just use the image filename as the key.

[2016-08-05 20:33] wuxiao356 commented on #104
+1

[2016-08-06 20:41] cbess commented on #309
As far as I can tell you will need to create your own Fetcher. I'm also realizing that it fails during disk cache operations because the key, if short enough, is the url, which has "/" in it.

[2016-08-07 18:46] cbess commented on #309
@groovz I've created a custom class that accepts a custom key:
https://gist.github.com/cbess/86d5753dcb76ed75fe291f47d1a4ab5c

I hope it helps you.

[2016-08-09 05:03] makhmutov commented on #216
+1

[2016-08-11 17:45] carobeta commented on #329
I made a migration to swift 3. There is in a new pull request, maybe is useful.

[2016-08-12 18:25] cdavis17 opened #335 "Error signing with Continuous Integration Setup"
The CocoaPod has some issue with code signing when using continuous integration.  After adding to the Podfile and implementing, CI would fail when trying to create and export an archive.  Removed the pod and code, and integration succeeded.  No real error messages from this issue

[2016-08-16 02:22] hifall opened #336 "Placeholder image not replaced when downloading is interrupted."
I am using Haneke to download image for an image view in a table cell. And I am seeing this issue where the placeholder image is not replaced. To reproduce this issue, I did:

1 add a table cell with an image view whose image is managed by Haneke, i.e., imageView?.hnk_setImageFromURL(...); a placeholder image is passed in while calling hnk_setImageFromURL. Now the cell appears with the placeholder

[2016-08-16 03:12] joe528 commented on #336
You take the app to the background and you know the downloading is interrupted. And after the app is back to the foreground, the downloading of the actual image is considered failed. So I think what you observe is totally reasonable (by design).

I also had this test case for my app and my solution is to call `hnk_setImageFromURL` again for each visible images in my table view when the app is take

[2016-08-16 07:17] TechLoveVN commented on #211
I am getting the same error.
Any solutions here?

[2016-08-16 09:34] hifall opened #337 "Slow image data fetching from Haneke?"
Hi,

I am using Haneke to manage images in table view cells. And I have this observation:

1 create a couple of dozen table cells with an image in each one of them; I call hnk_setImageFromURL with image's url and a placeholder image for each cell;
2 scroll up and down quickly, and I see placeholder images showing for images, even after these images have been loaded. And very shortly after (~sub 0.

[2016-08-16 09:54] kwstasna commented on #337
I have the same issu with every Image caching library that is available, even with NSCache.
The problem is that the cells are `reusable` so it means that if you have 30 cells and you see the 15nth, the first 10 cells will be deleted by your memory because of iOS dont want you to use extensivly the memory. So when you scroll to the top it will load again the cells.

Although some apps like "Kitchen

[2016-08-16 11:08] joe528 commented on #337
The cells are reused, not deleted.

Try to set the image to `nil` before setting a new image to it. It may help.

[2016-08-17 06:47] jerrygdm commented on #104
+1

[2016-08-19 10:11] docterd commented on #244
+ Vote Up. Especially in combination with the new Prefetching API for UICollectionView and UITableViews.

[2016-08-22 09:17] buiminhhuy commented on #199
Please adjust method in String+Haneke.swift as below, because I got some case "file long name" when caching files from S3 with file name format as "filename.png?policy=sadasd&kk...."
[code]

[2016-08-23 21:44] eclair4151 opened #339 "Set image from url crash, Stack trace is attached"
Got this crash from an iPhone5s running 8.1.1

Crashed: NSOperationQueue 0x174429860 :: NSOperation 0x170a47950
0  libsystem_platform.dylib       0x193ac9390 _platform_memmove + 320
1  libsystem_c.dylib              0x1939c4424 __memcpy_chk + 32
2  libsystem_c.dylib              0x1939c4424 __memcpy_chk + 32
3  ImageIO                        0x183d6598c _CGImageSourceBindToPlugin + 316
4  ImageIO

[2016-08-24 00:09] chadmoone commented on #331
@alpennec I'm guessing you just did the migration yourself (it's pretty minor), but if you are looking for a branch, you can point to the fork from the PR above for the time being. Hopefully with Xcode 8 GM coming in the next week or so, we can get an official branch set up here.

[2016-08-27 14:07] brod-ie commented on #319
Exact same:
[code]

**98 crashes/83 users in last 12 hours**

Any update on this?

[2016-08-30 08:11] YangYouYong commented on #319
As the same
#0	0x000000010f3390ed in UIImage.hnk_imageByScalingToSize(CGSize) -> UIImage [inlined] at /Users/yangyouyong/Desktop/swiftvendor/Carthage/Checkouts/HanekeSwift/Haneke/UIImage+Haneke.swift:18
#1	0x000000010f3390ed in @objc UIImage.hnk_imageByScalingToSize(CGSize) -> UIImage ()
#2	0x000000010f327b41 in ImageResizer.resizeImage(UIImage) -> UIImage at /Users/yangyouyong/Desktop/swiftvendor

[2016-08-31 03:34] Jiropole opened #341 "Image scale does not match screen scale"
I've tried it a couple ways, currently using imageCache.fetch(url, formatName). I noticed my images were appearing too large, and when I inspect the image in onSuccess, noticed the image dimensions are 2x larger than they should be and scale was 1.0. I'm testing on a scale 2.0 screen so this is wrong.

Is this by design, i.e. is the user expected recreate the image from the cache with the proper s

[2016-08-31 17:27] Jiropole commented on #341
Found other notes around this, not sure if the solution(s) should have fixed this issue or if I'm still missing something. #160 #252 #281

[2016-09-08 20:38] coolnalu commented on #311
@dcharbonnier a simple and quick way to check an image is loaded would be useful, so the image can set right away on the UI thread. Right now it is pessimistic so we put a placeholder in place but it quickly got replaced by the real image. This causes flickering because there is a short delay and the UI looks choppy from those.

[2016-09-09 08:50] ramesh-dev commented on #331
Guys, Xcode GM is out, any updates on Swift 2.3 branch?

[2016-09-10 07:12] lubos08 commented on #329
No solution yet?
I really like this library, but I can't use with xcode 8 / swift 3.0

[2016-09-10 16:14] jlaws commented on #329
There are multiple PR's to add Swift 3 support, can we get one of them merged please?

[2016-09-10 20:26] JohnCoates commented on #329
I came across this error also. Personally, I'm looking at switching to a similar library, [Kingfisher](https://github.com/onevcat/Kingfisher), which seems to be pretty active

[2016-09-12 16:20] gblotter commented on #331
Also submitted a PR... w/ changes to the Travis-CI build setting AND to the OHHTTPStubs framework version to one that supports Swift 2.3 as well #344

[2016-09-13 08:27] samuel-mellert commented on #329
Is anyone still feeling responsible for keeping this project alive, or is a fork the only way to get this thing into the post Swift 2.2 era? I really like this piece of code!

[2016-09-14 03:21] blainerothrock commented on #329
No progress on this yet? Bummer, this is the last dependency I am waiting on.. I am going to have to switch to something else.

[2016-09-14 14:11] cannyboy commented on #331
I'm using this for 23 till it's on an official branch: https://github.com/cannyboy/HanekeSwift

Pod-cats can use:
`pod 'HanekeSwift', :git => 'https://github.com/cannyboy/HanekeSwift.git'`

[2016-09-14 20:20] rlam3 opened #346 "Swift 3 Release?"
Swift 3 Release?

[2016-09-15 22:34] okankocyigit commented on #329
could you please at least inform about swift 3 support? -/+?

[2016-09-15 23:24] dcharbonnier commented on #329
Any pr that pass the travis build will be merged.

[2016-09-16 09:59] okankocyigit commented on #329
this [pr](https://github.com/Haneke/HanekeSwift/pull/338) is working for me.

[2016-09-16 11:19] lluisgerard commented on #346
I'm using the code from this PR https://github.com/Haneke/HanekeSwift/pull/338 and it's compiling. I cannot test/try it with my app because I have to make a lot of changes before 😱

My Podfile has this at the moment:
[code]

[2016-09-16 12:15] 8masterofpuppets8 commented on #346
Any idea when this will be merged in?

[2016-09-16 12:30] okankocyigit commented on #346
@lluisgerard it's compiled and working for me.

[2016-09-16 16:26] #329 closed

[2016-09-16 16:26] #346 closed

[2016-09-16 16:35] #337 closed

[2016-09-16 16:36] #336 closed

[2016-09-16 16:37] dcharbonnier commented on #327
Check master branch should be ok now

[2016-09-16 16:37] #327 closed

[2016-09-16 16:37] dcharbonnier commented on #331
Swift 3 done

[2016-09-16 16:37] #331 closed

[2016-09-16 16:37] #320 closed

[2016-09-16 16:38] #308 closed

[2016-09-16 16:39] dcharbonnier commented on #288
Never experienced this problem

[2016-09-16 16:39] #288 closed

[2016-09-17 02:04] Mosaics opened #347 "what time will be support swift3.0?"
And I have a question: I'm used "SwiftyJSON" in my project;
I noticed that you are using JSon cache like this:
********************
let cache = Cache<JSON>(name: "github")
let URL = NSURL(string: "https://api.github.com/users/haneke")!

cache.fetch(URL: URL).onSuccess { JSON in
    print(JSON.dictionary?["bio"])
}
****************
But you know,"SwiftyJSON" can be used to request to the data, it al

[2016-09-17 15:20] dNadiia commented on #104
+1

[2016-09-17 19:44] kforte318 opened #348 "Swift 3 and Xcode 8"
As I'm sure you're aware, Haneke isn't compatible with the new stuff yet. Hope it's ready to use again soon!

[2016-09-17 20:37] rlam3 commented on #346
I think we need to update the documentation if swift 3.0 is updated.

[2016-09-18 00:18] dcharbonnier opened #349 "Update doc swift 3"
Update the doc for swift3

[2016-09-18 00:20] dcharbonnier commented on #346
right @rlam3 #349

[2016-09-18 00:21] dcharbonnier commented on #348
it's not documented (#349) but master is swift3

[2016-09-18 00:21] #348 closed

[2016-09-18 00:24] dcharbonnier commented on #347
swift 3 should be supported for the rest I think you should post this question to stackoverflow you will get more answers then here

[2016-09-18 00:24] #347 closed

[2016-09-18 06:28] dcharbonnier commented on #331
https://github.com/Haneke/HanekeSwift/pull/350

[2016-09-18 06:34] alpennec commented on #348
Strange to see that the last commit on master was done on Apr 21, 2016.
@dcharbonnier are you sure the master branch is using Swift 3? Or should se use the Swift 3 branch?

[2016-09-18 06:36] alpennec commented on #346
Strange to see that the last commit on master was done on Apr 21, 2016.
@rlam3 are you sure the master branch is using Swift 3? Or should se use the Swift 3 branch?

[2016-09-18 06:46] dcharbonnier commented on #346
@alpennec right it's not on master for now, I'm updating to 2.3 and then I will check 3.0 but the branch 3.0 has been reported as "working"

[2016-09-19 11:04] LadyDeveloper commented on #348
I have the same problem
<img width="2417" alt="schermata 2016-09-19 alle 13 03 02" src="https://cloud.githubusercontent.com/assets/11472348/18629940/7508157a-7e69-11e6-925a-a26beef7409f.png">
How can I fix the problem?

[2016-09-19 12:29] idrisyildiz7 commented on #349
Please update for Swift 3.0 and Xcode 8.0

[2016-09-19 16:32] alejandrorbradford commented on #348
Is it working with Swift 3 or 2.3?

[2016-09-19 17:11] kforte318 commented on #348
I have the same issue as LadyDeveloper. I don't think it's on Swift 3...?

[2016-09-19 17:59] andreyrd commented on #348
The branch [master](https://github.com/Haneke/HanekeSwift/tree/master) **is not** on Swift 3.
The branch [feature/swift-3](https://github.com/Haneke/HanekeSwift/tree/feature/swift-3) **is** on Swift 3.

If you use CocoaPods, you can use it with this line:
```pod "HanekeSwift", :git => 'https://github.com/Haneke/HanekeSwift.git', :branch => 'feature/swift-3'```

[2016-09-20 12:54] MingLoan opened #354 "ERROR"
2016-09-20 20:53:24.480873 Chaatz Dev[1642:348678] [HANEKE][ERROR] Failed to write key c1787b08-30fa-40ac-a1dd-31cb064520c6 with error Error Domain=NSCocoaErrorDomain Code=4 "The file “c1787b08-30fa-40ac-a1dd-31cb064520c6” doesn’t exist." UserInfo={NSFilePath=/var/mobile/Containers/Data/Application/D1C934B3-8FB4-4EDD-877A-A7FAA6ADE97B/Library/Caches/io.haneke/shared-entities/entity/c1787b08-30fa-4

[2016-09-22 13:07] sigursalt commented on #354
I'm getting this as well (or variants of it), using the swift 3 branch - sometimes with the Code 260, and sometimes without it.

[code]

[2016-09-26 19:25] lauracpierre commented on #348
Any chance we can get this merged soon ? Thanks !

[2016-09-27 13:41] tooodooo opened #356 "MD5String is inaccessible due to"

[2016-09-28 04:23] leizard commented on #349
+1

[2016-10-03 14:23] StupidDutchName commented on #346
I would like a HanekeSwift Swift 3 cocoapods release, since we're using it in one of our internal dependencies, and you can't specify a :git dependency through a podspec. which breaks our build.

Not having a swift 3 pod is a severe hindrance for bigger projects, please consider publishing a Release Candidate from your swift 3 branch that we could use.

[2016-10-07 02:23] rlam3 commented on #346
@alpennec Like @StupidDutchName said. It is becoming a hinderance for development projects not to have a swift 3 version of cocoapods. Hope to see a full release to the master branch soon! Thanks!

[2016-10-07 15:41] StupidDutchName commented on #346
I cannot release an internal dependency because `pod spec lint` checks out dependencies based on the podspec file which cannot specify a :git parameter, and thus checks out the master branch / latest cocoapods release. This is a severe hindrance for us.

[2016-10-11 02:33] Mosaics opened #359 "a warning in swift3,please fix it"
i used this method:

cache.fetch(key: "funny-games.mp4").onSuccess { data in
    // Do something with data
}

it throw a warning:"Result of call to '. onSuccess' is ununsed "

if i used it continue like this ：

cache.fetch(key: "funny-games.mp4").onSuccess { data in
    // Do something with data
}.onFailure { (error) in
  // Do something with error
}

it told me ：“Result of call to '. onFailure' i

[2016-10-13 21:29] rytonbay commented on #359
Sorry if I'm missing something, but for me HanekeSwift won't build at all in Swift 3. Where is the working version?

[2016-10-13 21:51] rytonbay commented on #359
Never mind my previous comment, I got it to work by having this in my podfile:
`pod 'HanekeSwift', :git => 'https://github.com/Haneke/HanekeSwift', :branch => 'feature/swift-3'`

[2016-10-16 13:33] yoller commented on #203
+1

[2016-10-17 09:43] MingLoan opened #361 "error in master branch"
is there fully support iOS 10 SDK?

I see several optional type error in master branch codes.

[2016-10-17 18:04] peihsendoyle opened #362 "Is it a memory leak in image loading caused by Haneke?"
I'm dealing with images in TableView and CollectionView and using Haneke for caching. But I'm realize that everytime a cell is visible (with imageView inside), the memory grow dramatically. The Allocations Instrument indicate that there is "cg raster data" leak the memory.
<img width="1392" alt="screen shot 2016-10-18 at 12 59 41 am" src="https://cloud.githubusercontent.com/assets/7514128/19449052

[2016-10-18 15:58] MingLoan commented on #354
anyone still supporting this library?

[2016-10-19 21:21] JarekToro opened #364 "setImageFromURL returns error with only the word "accepted" in the userinfo"
**Other Info**

[code]

Also im not the best debugger in the world but going back through the thread i was able to find the image data that it downloaded. So there doesn't seem to be an issue with the actual downloading of the image.

Thanks

[2016-10-20 12:10] zhanswift opened #365 "How to use image in cache?"
How to use images in cache?

[2016-10-20 22:45] XemaCobra opened #366 "Question: Is it possible to change the fetch order to check internet first?"
I'm using Haneke to cache http requests. My use case is to use the cache only as a fl-back in case internet is not available. In that case I show users the most recent data.

Is it possible to change the priority so it would check Internet then NSCache and DiskCache?

[2016-10-21 07:55] dcharbonnier commented on #364
debug your http request with a proxy like charlesproxy there is mos likely a problem at this level

[2016-10-21 07:55] #364 closed

[2016-10-21 07:55] dcharbonnier commented on #361
check the swift-3 branch

[2016-10-21 07:55] #361 closed

[2016-10-22 15:10] jlaws commented on #349
+1

[2016-10-22 15:18] dcharbonnier commented on #349
Check the swift-3 branch and feel free to contribute in the pr that try to solve the tests problems

[2016-10-24 09:18] aksswami commented on #245
I am facing the same issue as @Macmee. If I clear the cache and try to save image after that, I get above error.

[2016-10-24 16:12] mikeRozen opened #368 "Synchronous fetch"
It seems my issue is similar to [https://github.com/Haneke/HanekeSwift/issues/168](168)
But is there a way to fetch data in Synchronous way. (it doesn't have to be image/images but some small data like state.)(of course I can group or use semaphore but it's too much )

[2016-10-27 08:47] niklassaers opened #369 "ThreadSanitizer reports data race"
Hey,
on branch "feature/swift-3", NetworkFetcher.swift line 64, is
`if cancelled { return }`

I'm getting errors from the thread sanitiser:
- Read of size 1 at 0x7d10000eef38 by thread T30
- Previous write of size 1 at 0x7d10000eef38 by main thread in cancelFetch on line 57
- Location is heap block of size 57 at 0x7d10000eef00 allocated by main thread

Any suggestions how to best make this Bool ca

[2016-10-27 09:08] niklassaers commented on #369
Suggestion:

[code]

I'm not sure how efficient this is, nor if it should use its own queue. The shuoldReturn dance also isn't all that easy to read, and it seems a bit of a roundabout way of solving the issue. It does, though, seem to solve it.

Cheers

   Nik

[2016-11-02 14:08] garie commented on #354
I am seeing tons of these errors when running tests...

[HANEKE][ERROR] Failed to list directory with error Error Domain=NSCocoaErrorDomain Code=260 "The folder “original” doesn’t exist." UserInfo={NSFilePath=/Users/username/Library/Developer/CoreSimulator/Devices/759F1CA6-A417-4FDF-8410-BE43D1F0A6C6/data/Containers/Data/Application/0990C0D8-C194-4629-94F9-BA56CC6F03E5/Library/Caches/io.haneke/sha

[2016-11-04 07:52] HighmoreJx opened #371 "Failed to write key"
[HANEKE][ERROR] Failed to write key fēng guāng-3*24 with error Error Domain=NSCocoaErrorDomain Code=4 "文件“fēng guāng-3*24”不存在。" UserInfo={NSFilePath=/var/mobile/Containers/Data/Application/30B773AF-7416-48B0-983F-DAFACF268D3B/Library/Caches/io.haneke/shared-strings/original/fēng guāng-3*24, NSUnderlyingError=0x15f4336a0 {Error Domain=NSPOSIXErrorDomain Code=2 "No such file or directory"}}

[2016-11-04 15:11] brianmichel opened #372 "Release Tag For Swift 2.3 Support?"
Hello, I was wondering if a tag can be published the with the current changes in `master` so that we can get Swift 2.3 support without having to point directly to a commit. It seems like the last tagged release was sometime in January.

[2016-11-13 20:03] seriyvolk83 commented on #329
If code from feature/swift-3 is used the app crash sometimes.

[2016-11-13 21:30] leszarna commented on #104
+1

[2016-11-14 14:29] jorgecasariego commented on #354
Anyone found a solution? I have the same error

[2016-11-15 23:25] coolnalu commented on #245
same error!

[2016-11-16 16:50] thedodd commented on #216
+1 it would definitely be pretty awesome to have a standard HanekeSwift API for registering a block to take progress reports or something of that nature. Think Alamofire `.downloadProgress`:

[code]

[2016-11-18 16:48] rlam3 opened #373 "How should one set round corners when dealing with image?"
Looking at the documentation, what should iconFormat look like? I'm a bit confused...

I'm trying to apply round corner layer onto the fetched image. Would this be applied after the image was set onto the iboutlet?

[code]

Reference:

http://www.appcoda.com/ios-programming-circular-image-calayer/

[2016-11-22 17:43] rlam3 opened #374 "Swift 3 upgrade error..."
Got the following for a swift 3 migration upgrade for haneke swift... was wondering how to resolve this. Thanks!

[code]

[2016-11-24 15:08] che1404 commented on #372
Hi @brianmichel , I'm trying to locate that exact commit (Swift 2.3 support). Do you know which one would it be?

Thanks!

[2016-11-27 16:37] jaimeagudo commented on #374
Your log doesn't look right to me @rlam3, check your Podfile syntax, mine works with

```pod 'HanekeSwift', :git => 'https://github.com/Haneke/HanekeSwift.git', :branch => 'feature/swift-3'```

[2016-11-28 17:41] yoller commented on #362
Did u find any solution for this?

[2016-11-29 05:23] peihsendoyle commented on #362
Dear yoller,

I found out that the things lead to problems is the size of image. If the size is too big, the device has to use their resources to process the image. That lead to an increasing in memory. I resize the image and the problem solved.

Thanks for your concern :)

[2016-12-07 17:07] altagir commented on #366
similar question on subject. I am discovering this pod and haven't evaluate it
but does the current behavior at least try to fetch in background any update? or to force an update ?

[2016-12-07 17:09] altagir commented on #104
+1

[2016-12-09 14:02] egosapien commented on #372
I just came across this too. The feature branch was deleted after merging. I went ahead and created a tag "v0.10.2" for swift 2.3 support on a fork. May be useful until this issue gets addressed.

Commit hash for swift 2.3 is "8ff1c5c"

https://github.com/reppanetgmbh/HanekeSwift/releases/tag/v0.10.2

[2016-12-14 04:09] MaximBoyarskiy commented on #319
Same issue here for hnk_setImage and hnk_setImageFromFile

[2016-12-15 13:57] fatihyildizhan commented on #369
Thank you @niklassaers . Your way fixed the problem.
* I didn't catch the crash first then I can handled after enable the `Thread Sanitizer`.

[2016-12-16 14:15] hishammalik commented on #104
+1

[2016-12-19 11:51] tirrorex commented on #341
Same thing here

[2016-12-21 21:11] greendog99 commented on #371
I'm seeing the same thing, but here's some additional context. I was using HanekeSwift successfully in Swift 2.3, but when I updated my code to Swift 3.0.2 I started receiving the "Failed to write key" error. The error is below, with my actual key replaced with [mykey] and the simulator's NSFilePath shortened for readability:

`[HANEKE][ERROR] Failed to write key [mykey] with error Error Domain=NS

[2016-12-21 21:17] greendog99 commented on #371
OK, I've determined that this only happens for me after I run `Shared.JSONCache.removeAll()`. That seems to match the problem reported in issue #245 (Failed to write key <url> with error) so these two issues may be the same. The removeAll() was working fine in Swift 2.3.

[2016-12-22 01:39] greendog99 commented on #245
It looks like the cache directory is being deleted in `Haneke/Cache.swift` in the `removeAll()` function. The exact line is `try FileManager.default.removeItem(atPath: path)`. If I comment this line out of the Haneke code, things appear to work correctly (cached items are removed, but the cache directory remains).

I don't know enough about the Haneke source code (which has no comments) to know wh

[2016-12-25 16:12] reshadf opened #376 "carthage update error haneke"
I am trying to get my project dependencies updated with Carthage. Unfortunately I am getting the following:  any ideas what to do?

--- xcodebuild: WARNING: Unable to open project file '/Users/username/xcode/trials/Carthage/Checkouts/HanekeSwift/Haneke.playground' in workspace '/Users/username/xcode/trials/Carthage/Checkouts/HanekeSwift/Haneke.xcworkspace'.
** CLEAN FAILED **

	Check dependencies

[2016-12-27 19:54] rgal75 commented on #376
I am getting the same error and thus cannot build my project. Running
[code]
reveals the following:
[code]

[2017-01-02 06:24] rlam3 opened #377 "How to handle memory warning issues / crash when using hanekeswift to set images in collectionviewcell?"
I'm using an  API to pull JSON url objects back to my app and then mapping these object urls onto my cell with hanekeswift to simply set the image onto the cell. But I'm getting memory warning issues that may be related to hanekeswift or how hanekeswift is managing cache....

The following is a simple pseudo code of my code...

API call -> returns Objects in App -> append objects back into array o

[2017-01-03 03:33] rlam3 commented on #374
@jaimeagudo is hanekeswift going to support swift 3 in the master branch soon? It's been a while since we got a refresh on the swift 3 branch. Thanks!

[2017-01-03 03:46] rlam3 commented on #362
@peihsendoyle What was the size of the image files you are using? I believe I may be running into a similar issue.

[2017-01-04 10:53] vinios opened #378 "How to clear Haneke memory cache effectively on iOS?"
Main memory cache is bloating as user requests more number of images. As user session progresses, main memory size increases which applies excess pressure on memory. This is causing out of memory exception.

[2017-01-05 13:59] vexy commented on #378
Can you tell how many images/requests are causing this issue ?

[2017-01-06 04:56] vinios commented on #378
We are loading thumbnails in tableview cells. So After around 50-60 requests, memory allocation reach to 150MB.

[2017-01-14 20:58] X901 commented on #101
@frangeris Thank you very much , but I noticed sometime it play the audio from internet not from cache I don't know why , but must time it play it from cache

[2017-01-14 21:15] X901 commented on #101
@patthehuman you solved my problem

I convert your code to **Swift 3** syntax

Thank you @patthehuman and @frangeris

[code]

[2017-01-19 15:01] StupidDutchName commented on #374
Anyone out there still using Swift 2?? Would really be nice to merge the Swift 3 branch!

[2017-01-20 23:22] MaG21 commented on #374
Well, I am. But using Swift 2 at this point in time is painful, no playground and xcode is not helping either.

[2017-01-20 23:22] rlam3 commented on #374
I switched over to kingfisher because the supported swift 3.

[2017-01-23 06:55] Mosaics commented on #359
@rytonbay  3Q

[2017-01-23 07:06] dcharbonnier commented on #359
use the branch feature/swift-3

[2017-01-23 07:06] #359 closed

[2017-01-28 02:06] andreyrd opened #380 "Returning nil from convertToData should cause fetcher to fail"
Right now, it calls neither the success nor the failure handlers, and just fails silently.

Cache.swift:239 is where I believe the failure handler should be called, in an else block.

[2017-01-28 22:31] reinderdevries commented on #373
Don't use CALayer, because it'll dynamically round the edges of the image view. If you want to cache the rounding effect, you need to work with the bitmap data. Try this:

    let iconFormat = Format<UIImage>(name: "icon_30", diskCapacity: 25 * 1024 * 1024) { image in
        return image.imageWithSize(CGSize(width: 30, height: 30), andCornerRadius: 15.0)
    }

    imageView.hnk_setImageFromURL(u

[2017-01-28 22:37] reinderdevries commented on #377
Are you using the dequeueing mechanism of UICollectionView? And are you removing objects from `myArrayOfObjects` when they've moved off-screen? You could also profile your app with Instruments to see where the memory's gone. Lastly, I'd look into [Realm](https://realm.io) for managing large amounts of data. Only keep in memory what's directly on screen. Haneke is generally used for caching data th

[2017-01-30 02:45] MaG21 commented on #104
+1

[2017-02-07 10:35] PKrupa94 commented on #365
First you can cache image directly using url or image with unique.

**cache image using url**
`imageView.hnk_setImageFromURL(url)`

**cache image with unique key**
`imageView.hnk_setImage(image, key: key)`

You can fetch cache images using `Shared.imageCache` and use this instance for fetch cache images.

create image cache instance
`let imageCache = Shared.imageCache`

**fetch cache image with ur

[2017-02-12 13:33] reinderdevries commented on #283
Easy. Use HanekeSwift to cache and/or download the image, and then use a custom format that resizes the image to fit the width and height of the table view cell's image view.

    imageView?.hnk_setImageFromURL(url, format: Format<UIImage>(name: "cell", diskCapacity: 10 * 1024 * 1024) { [weak imageView] image in
            return image.imageWithSize(imageView?.bounds.size)
    })

The method `ima

[2017-02-18 07:52] vburojevic opened #382 "What is the best way to fetch all keys for cached values?"
Not an issue specifically, but could use some advice.

I need to fetch all the keys from JSON cache, but as far as I can see from the source code, there doesn't seem to be a way to get all the keys.
I thought that NSCache maybe has a function to fetch all keys, but it doesn't, ant it wouldn't be reliable anyway because it can be purged at any time.

Second idea is to loop through every file name i

[2017-02-18 14:30] emojiface-ops commented on #104
+1

[2017-02-24 06:14] 0xc00010ff commented on #374
Bump for merging `feature/swift-3`, but also note that you can use the Objective-C library with Swift 3 if you just want to pod install and move along. https://github.com/Haneke/Haneke

[2017-03-15 07:34] buiminhhuy opened #384 "Stopped implement?"
Why not upgrade to swift 3 for master?

[2017-03-15 15:39] dcharbonnier commented on #384
https://github.com/Haneke/HanekeSwift/pull/367 help welcome

[2017-03-15 15:39] #384 closed

[2017-03-29 13:08] caoyunxiao opened #385 "If I want to know a certain cache file path, what should I do"
If I want to know a certain cache file path, what should I do

[2017-03-29 18:32] muescha commented on #348
there is a pull request https://github.com/Haneke/HanekeSwift/pull/379

but this repo looks abandomned

[2017-03-30 02:40] caoyunxiao commented on #385
let cache = Shared.dataCache
            let (_, _, diskCache) = cache.formats[HanekeGlobals.Cache.OriginalFormatName]!
            let pathString = diskCache.path(forKey: pathKey)
这样就可以拿到路径了

[2017-03-30 02:41] #385 closed

[2017-03-30 05:40] caoyunxiao opened #386 "cache.set(value: data, key: pathKey) { (success) in"
cache.set(value: data, key: pathKey) { (success) in

              //I found this callback, the file is not stored, lead to my application error
            }

[2017-03-30 18:07] dcharbonnier commented on #348
there is someone to merge the PR but not to work on it, the first goal for a PR is to pass the tests #379 does not

[2017-03-31 19:32] rlam3 opened #387 "Support for Version 8.3 (8E162)?"
Support for Version 8.3 (8E162)?

A few new errors occured with XCode Version upgrade. New release, please.

Thank you!

![screen shot 2017-03-31 at 2 31 19 pm](https://cloud.githubusercontent.com/assets/1154044/24566339/bdebcdf2-161e-11e7-9a62-53ccaa114570.png)

[2017-04-02 22:35] imroca commented on #387
I'm getting this error, i dont know for sure if it's related or not.

A shell task (/usr/bin/xcrun xcodebuild -workspace /Users/ignacio/Mobile/Maka/Pin/Carthage/Checkouts/HanekeSwift/Haneke.xcworkspace -scheme Haneke -configuration Release -sdk iphoneos ONLY_ACTIVE_ARCH=NO BITCODE_GENERATION_MODE=bitcode CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENTITY= CARTHAGE=YES clean build) failed with exit code 6

[2017-04-03 11:56] garie opened #388 "Log level"
I would expect to be able to set the log level for the logger. Currently, because our unit tests are so quick, they are generating quite a lot of Haneke warnings because of the state of the cache. These warnings do not affect the tests and are not a real problem. The warnings, however, are printing at the same time the test results are printing, which means that our test results parser cannot pars

[2017-04-04 08:43] tirrorex opened #389 "[Bug] Reuse same image with different format, custom fetcher not working as expected ?"
Hi,
I have an app where i use the same image multiple times but with totally different format.
I currently have implemented a custom fetcher which should be working, setting the image after download with proper format but it isn't, code below

The format i have for parameter is applying a resize.
I tested this with a custom controller, i display the image as a thumbnail first and i have a detail v

[2017-04-05 21:00] CodeSensei commented on #387
Can you pls provide an estimated date release for Swift 3 version?

[2017-04-07 14:18] tirrorex commented on #147
Why don't you integrate directly swiftyJSON (which is massively used, even by alamofire) instead of doing your thing and declaring the same type?

The example of this bug i had today was a controller calling my imageCache, and this controller also has a callback which is expected to receive a JSON as paramter.

I managed to get around the issue but depending on the code it could become ugly quickl

[2017-04-07 14:26] tirrorex commented on #158
Thanks for the tips mate, really helped me build my own solution 👍

[2017-04-12 10:13] tirrorex commented on #389
Managed to fix it, was an upscaling problem

[2017-04-12 10:13] #389 closed

[2017-04-12 21:57] rlam3 commented on #387
Merged but still hasn't been released... Any Updates? Thanks

[2017-04-13 14:58] tirrorex commented on #211
Happened to me today. any news on this?

[2017-04-13 15:45] tirrorex commented on #205
It is note, could you reopen the issue please?

[2017-04-16 02:11] peihsendoyle commented on #362
@rlam3 sorry for the late reply.

Actually, I'm using IMGIX service to resize the image and detect face. It allows you to pass params like width, height, crop,... and return a new proper url instead of your directly url.

The problem is that you have to use their url, it means you must store images resource in their repository. I don't realized it 3 months ago, and just used directly url, it leads

[2017-04-16 02:11] #362 closed

[2017-04-17 10:39] lijianfeigeek commented on #235
Did you solve this problem? What is the reason for that?

[2017-04-19 18:33] dcharbonnier commented on #387
the master branch is now swift-3

[2017-04-19 18:33] #387 closed

[2017-04-19 18:34] dcharbonnier commented on #374
the master branch is now swift-3

[2017-04-19 18:34] #374 closed

[2017-04-19 18:34] dcharbonnier commented on #372
the master branch is now swift-3

[2017-04-19 18:34] #372 closed

[2017-04-19 18:35] dcharbonnier commented on #376
you probably used at that time the wrong branch, the master branch is now swift-3

[2017-04-19 18:35] #376 closed

[2017-04-19 18:37] dcharbonnier commented on #386
can you be more specific and add an example ?

[2017-04-19 18:40] #283 closed

[2017-04-19 18:40] #373 closed

[2017-04-19 18:41] #349 closed

[2017-04-21 03:19] buiminhhuy opened #397 "Updated pod repo for swift 3?"
Would you like to update pod repo for the library? Please help me this.

[2017-04-21 11:43] laraibmalik90 commented on #211
Yes

                if(self.size > fileSize)

                {

                self.size -= fileSize

                }

use it like this. They have also committed a new branch
https://github.com/Haneke/HanekeSwift/pull/272/commits/da8a250c379923c563e97cab9de8a3ffedcfc6cb.
You can look into that as well.

On Tue, Aug 16, 2016 at 12:17 PM, TechLoveVN <notifications@github.com>
wrote:

[2017-04-21 11:57] tirrorex commented on #211
@laraibmalik90 i needed the app to be stable quickly for our beta users so i switched to sdwebimage, thanks for the answer though ;)

[2017-04-25 04:26] chrux commented on #104
+1

[2017-04-28 13:23] sheshans commented on #104
+1

[2017-04-30 19:02] lususvir commented on #200
I am still having this issue. I updated to Xcode 8.3.2 and Swift 3.1.1. When I `import Haneke` it says "No such module 'Haneke'".

[2017-05-02 12:25] smhk opened #399 "May 2017, Cannot build with carthage? (or anything?)"
Very sadly this excellent project seems to be dead ?

[code]

[2017-05-08 16:36] smhk commented on #399
Nobody else noticed this woe?

[2017-05-08 19:08] jeannustre commented on #399
Same issue here. Manually opening the Haneke workspace Carthage checks out brings up an army of warnings and errors related to Swift conversion. I also tried to explicitly set the 'Swift Language Version' key in the Build Settings, but no luck there either.

I managed to get a working version of the framework by doing the following :

1. Clone into the master branch
2. Open Haneke.xcodeproj
3. Bui

[2017-05-08 19:31] smhk commented on #399
Thanks for that Jean.  That's actually a good workaround, I'll do that too.

(At the moment I do it as described at https://github.com/Haneke/HanekeSwift under Installation/**Manually:**, but that is not ideal.)

Good thinking thanks.

[2017-05-11 17:17] jeannustre commented on #399
So it seems that my workaround above will do the job when working with the Simulator, but will not build on an actual device.
The "Manual" install works fine.

[2017-05-11 17:31] smhk commented on #399
ah, luckily I did not try it yet!  :)
thanks for that tip - excellent.
I sure hope someone can fix the Carthage package ... that would be tops.

[2017-05-16 04:05] SirWellington commented on #399
So it looks like this library is not actually updated for Swift 3.0, at least not according to the latest checkout I performed.

[2017-05-21 20:45] cristinaITdeveloper opened #402 "Swift 3 compatibility - Swift Compiler error Xcode 8.3.2"
I added the library with pod, but Xcode reports many errors.

<img width="995" alt="schermata 2017-05-21 alle 22 44 30" src="https://cloud.githubusercontent.com/assets/11472348/26287220/1be8e0ea-3e77-11e7-8c56-6e084c576994.png">

[2017-05-22 13:12] vikash1307 commented on #402
Tried to download the source file and replace these files and it will work . I think some problem with cocoa pod link.

[2017-05-23 11:16] jdam68 commented on #402
Same issue here, for the moment I solved using the feature branch:

pod 'HanekeSwift', :git => 'https://github.com/Haneke/HanekeSwift', :branch => 'feature/swift-3'

It seems like master has been merged into brench, not the other way.

[2017-05-24 16:32] alusev opened #403 "Display network activity indicator"
I would like to show internet activity indicator if an image is being downloaded. How do I do it?
I am using `hnk_setImageFromURL`

[2017-05-27 09:58] phantanx opened #404 "Set timeout for NetworkFetcher"
how can i set timeout for NetworkFetcher

[2017-06-05 17:32] giusecapo commented on #101
Hi guys, I tryied to do like @X901 but AVPlayer remains empty (not loading videos). If I check file existence, there is. But still, no video is displayed. Why this?

[2017-06-09 05:06] ThoseGuysInTown opened #405 "Cache Limit?"
I'm using Haneke to retrieve and cache images in my app and the problem I'm having is that after a while the size of the app increases dramatically. After a month or so the app, which is downloaded at <100mb from the app store, reaches up to nearly 5 gb (of Documents & Data)!!

Do I have to manually clear the Haneke Cache? I'm using imageView.hnk_setImageFromURL()

I think it might also be Firebas

[2017-06-11 17:46] cbess commented on #397
I'd also like them to update the podspec.
I assume they want you to use the git repos directly in your Podfile:
[code]

[2017-06-17 06:15] alexanderkhitev opened #406 "Compatible with Kingfisher"
Tell me please there will be no conflicts or any bugs if you use this framework in conjunction [Kingfisher](https://github.com/onevcat/Kingfisher)

[2017-06-19 14:41] malcommac opened #407 "Caching Array of Objects"
Is there a way to cache array of objects represented by `DataConvertible`,` DataRepresentable` without creating a custom class container?

[2017-06-20 10:47] aliparr- commented on #203
+1

[2017-06-20 19:21] chrisvanbuskirk opened #408 "TVOS POD Failure"
When adding the Pod, this error occurs.

[!] The platform of the target `XXXX` (tvOS 10.2) is not compatible with `HanekeSwift (0.10.1)`, which does not support `tvos`.

[2017-06-26 06:17] mortocks commented on #200
Same

I updated to Xcode 8.3.2 and Swift 3.1.1. When I import Haneke it says "No such module 'Haneke'".

`xcodebuild -verbose`

`/Users/......./HeaderTableViewCell.swift:13:8: error: no such module 'Haneke'
import Haneke`

[2017-06-29 06:16] EijiPon opened #409 "CLEAN FAILED with Swift 3"
=== CLEAN TARGET Haneke OF PROJECT Haneke WITH CONFIGURATION Release ===

Check dependencies
“Swift Language Version” (SWIFT_VERSION) is required to be configured correctly for targets which use Swift. Use the [Edit > Convert > To Current Swift Syntax…] menu to choose a Swift version or use the Build Settings editor to configure the build setting directly.
“Swift Language Version” (SWIFT_VERSION)

[2017-06-29 11:23] viral105 commented on #200
I am using Xcode Version 8.1 having the same issue. I tried both following.

import Haneke
import HanekeSwift

It is showing error No such module.

[2017-07-09 12:24] hmoataz812 commented on #104
+1

[2017-08-13 11:12] litalalon opened #413 "crash in hnk_fetcher getter"
Hi,
Haneke version 0.10.1 crashed the app several times on
`let wrapper = objc_getAssociatedObject(self, &HanekeGlobals.UIKit.SetImageFetcherKey) as? ObjectWrapper`in  hnk_fetcher getter
callstack attached
<img width="1047" alt="screen shot 2017-08-13 at 14 03 19" src="https://user-images.githubusercontent.com/28499721/29249056-5131d798-8030-11e7-8a95-7960f6cbfe2a.png">

Please assist!

[2017-08-16 09:49] strawberrycode commented on #402
+1

[2017-08-24 14:30] smhk opened #414 "Best way to determine, instantly, if an image is already on the device in cache?"
You have a URL url and you want the image.  It could be we already have it cached on the device.

Is there a way to "instantly" determine if url is in cache?

The call

imageCache#fetch#onSuccess

is asynchronous.  It returns the image.  So it is very slow if the image is huge.

How to **just determine, quickly** if the image for a given URL is already cached?  Cheers

[2017-08-26 09:10] lastcc commented on #399
Really nice lib but not compile with Carthage, Xcode 9 beta 6.

Command used in terminal: `carthage update --platform iOS`

*** Building scheme "Haneke" in Haneke.xcworkspace
Build Failed
	Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -workspace /Users/cc/Library/Mobile\ Documents/com~apple~CloudDocs/cc/2/KirinoX/Carthage/Checkouts/HanekeSwift/Haneke.xcworkspace -scheme Haneke -configu

[2017-09-06 13:57] Codeido opened #415 "Is the project still maintained?"
I see too many bugs on issues panel and 15 pull request pending from 2 years. Any news? Is the project still maintained?

[2017-09-13 08:19] artemkalinovsky commented on #415
Also, I'd like to know about Swift 4 migration

[2017-09-20 11:36] Mosaics opened #416 "any plan to support swift4？"

[2017-09-20 12:26] dcharbonnier commented on #415
There is no PR with a successful build  pending. If someone do the swift 4 migration with no coverage regression I will merge it.

[2017-09-20 12:27] dcharbonnier commented on #416
#415

[2017-09-20 12:27] #416 closed

[2017-09-20 12:28] dcharbonnier commented on #408
cocoapod is not supported for the last releases

[2017-09-20 12:28] #408 closed

[2017-09-20 12:31] dcharbonnier commented on #403
similar to this #216

[2017-09-20 12:31] #403 closed

[2017-09-20 12:32] dcharbonnier commented on #397
cocoa pod is not supported

[2017-09-20 12:32] #397 closed

[2017-10-04 23:22] Mosaics opened #417 "any plan to support swift 4?"

[2017-10-18 23:45] jrmsklar commented on #104
+1

[2017-10-18 23:46] jrmsklar commented on #129
@hpique any update on expiration policies?

[2017-10-24 23:36] thedodd commented on #216
Looks like this issue was closed, but the referenced issue above doesn't include any additional info and was also closed. Was some code merged which implements this?

[2017-10-26 09:07] EdenShapiro commented on #402
You also need to use `import Haneke` instead of `import HanekeSwift` at the top of your files

[2017-11-14 14:15] MarcoFilosi opened #420 "Time for a new release?"
Last release `0.10.1` has been created on 2 Jan 2016.

In the meantime master has been moved to Swift 3 and there are no releases of it.
We need to reference to `master` branch or `feature/swift-3` branch if we want to use this pod on XCode project.

Could you please consider to create a new release containing current master status?

Thanks

[2017-11-22 14:05] MaG21 commented on #417
https://github.com/hyperoslo/Imaginary
and
https://github.com/hyperoslo/cache

Those are good replacement options. The two libraries support Swift 4 and they're actively developed by a company called Hyper.

[2017-11-22 14:32] smhk commented on #417
thanks for that tip,  MaG21

[2017-11-26 03:28] randomiser commented on #420
Agreed. Would be good to get some of the PRs merged and this project updated.

[2017-11-28 23:48] Aeon commented on #415
@dcharbonnier how about pull request https://github.com/Haneke/HanekeSwift/pull/421? The CI build is failing but the failure seems to be with CI config, not due to error in the code?

[2017-11-29 06:31] dcharbonnier commented on #415
If you want to send a PR to fix the CI config I will be happy to merge it @Aeon

[2017-12-04 08:56] cristinaITdeveloper commented on #402
I still have the same problem with Swift 3 and I have to import it like this
pod 'HanekeSwift', :git => 'https://github.com/Haneke/HanekeSwift', :branch => 'feature/swift-3'
as jdam68 wrote.

[2017-12-14 10:00] subaAnand opened #422 "image from url dont show"
let urlString = userProfile?.profileImage
            let urlName : URL = URL(string:urlString!)!
            self.imgProfile.hnk_setImageFromURL(urlName)

[2018-01-18 17:03] gringoireDM commented on #415
+1

Is the project still maintained? The build is failing, PR opened and never merged. I would like to contribute, but I need to see that there is a minimum effort at least to fix the build settings or I will have to consider the project dead and move away from it in my dependencies. I appreciate the work you did so far, but if it is unmaintained please let us know.

[2018-01-18 17:20] dcharbonnier commented on #415
the answer is still valid @gringoireDM :-)

[2018-01-18 17:22] dcharbonnier commented on #420
no PR with a build passing is pending except one that is a design decision

[2018-01-18 17:22] #420 closed

[2018-01-18 17:23] #365 closed

[2018-01-18 17:23] #378 closed

[2018-01-18 17:23] #380 closed

[2018-01-18 17:23] #382 closed

[2018-01-18 17:23] #386 closed

[2018-01-18 17:23] #404 closed

[2018-01-18 17:23] #406 closed

[2018-01-18 17:23] #414 closed

[2018-01-18 17:24] dcharbonnier commented on #399
the branhc swift-3 should be ok but now that there is swift-4, waiting for a PR with a build passing for swift-4

[2018-01-18 17:24] #399 closed

[2018-01-18 17:26] #244 closed

[2018-01-18 17:26] #278 closed

[2018-01-18 17:26] #234 closed

[2018-01-18 17:26] #140 closed

[2018-01-18 17:26] #144 closed

[2018-01-18 17:26] #158 closed

[2018-01-18 17:32] dcharbonnier commented on #415
I closed the PR too old with a failing build. I'm not the original developer of this project but I can't merge something with failing tests.
If you want to help you are more than welcome, the first step is to make the build pass with travis (or find an other CI if you want)
In the issues, some are outdated or just questions if someone want to help and reply or mention me when it's something to clo

[2018-01-18 17:38] dcharbonnier commented on #402
the @jdam68 solution should work

[2018-01-18 17:38] #402 closed

[2018-01-18 17:39] dcharbonnier commented on #409
use the feature branch for swift-3

[2018-01-18 17:39] #409 closed

[2018-01-18 17:39] #317 closed

[2018-01-18 17:41] dcharbonnier commented on #312
the library do not "support" image formats, if ios support it haneke will too

[2018-01-18 17:41] #312 closed

[2018-01-18 17:42] dcharbonnier commented on #341
duplicate #281

[2018-01-18 17:42] #341 closed

[2018-01-18 17:43] #314 closed

[2018-01-18 17:43] dcharbonnier commented on #313
cleanup

[2018-01-18 17:43] #313 closed

[2018-01-24 12:50] dcharbonnier commented on #415
the master now support swift 4

[2018-01-24 12:50] #415 closed

[2018-01-31 12:12] talk2cerlin opened #423 "How do i change the cache getting saved from `cachesDirectory` to `documentDirectory`"
I want to change the cache directory from `cachesDirectory` to `documentDirectory`. is it possible? how can i do that?

[2018-02-02 02:16] BeckWang0912 opened #424 "When to release swift4.0 version of the code"
When to release swift4.0 version of the code？

[2018-02-15 06:38] dcharbonnier commented on #424
https://github.com/Haneke/HanekeSwift/releases/tag/0.11.0

[2018-02-15 06:38] #424 closed

[2018-02-21 05:57] Nautiyalsachin commented on #424
Please reopen this issue as its taking 0.10.0 as by default when I install it. I tried to update it manually, by forcefully giving 0.11.0, It gave me error. Thank you!

[2018-03-05 11:47] fermoya opened #426 "CocoaPods, not downloading last version 1.1"
Hi,

I'd like to ask about the pod 'HanekeSwift', it downloads the latest that's in Cocoapods which is version 0.10.1 released in Jan 2016!!
https://cocoapods.org/pods/HanekeSwift

But in your codspec I see the latest version is 1.1:
https://github.com/Haneke/HanekeSwift/blob/master/HanekeSwift.podspec

Are you planning to release an official new version? So far I'm addressing this pod like:
pod '

[2018-03-05 21:37] dcharbonnier commented on #426
Sorry cocoa pod is not and won't be anyone supported maybe you can use a git url with a tag with it or switch to Carthage

[2018-03-05 21:37] #426 closed

[2018-03-05 21:39] smhk commented on #426
@fermoya , if you have not used Carthage yet, it is incredibly easier than using pods.

Hope it helps anyway!

[2018-03-06 08:50] fermoya commented on #426
Thanks a lot for the prompt answer, I'll give it a thought and propose it to the rest of the team :D

[2018-03-10 05:15] takagi opened #427 "CocoaPods not updated?"
CocoaPods not updated to the latest HankeSwift with Swift 4 support?

https://cocoapods.org/pods/HanekeSwift

[2018-03-10 09:20] dcharbonnier commented on #427
Duplicate.

[2018-03-10 09:20] #427 closed

[2018-03-10 21:17] xrelative opened #428 "Update Cocoapods Specs Repo"
Can you please add version 0.11.0 to CocoaPods Specs Repo? 🙂

[2018-03-10 21:22] smhk commented on #428
This is purely one man's opinion! ..

- cocoapods is far too much work to maintain
- cocoapods is on the "last days" .. as soon as SPM works, cocoapods will be history
- carthage is trivial to use, if you use pods you can convert to carthage in a minute
- carthage is far easier for the developer of Haneke (or other libraries) to maintain

Haneke is an amazing library,
- it is a huge amount of work

[2018-03-10 22:30] xrelative commented on #428
Thanks for your suggest @smhk, I think you right, I changed to Carthage.

Greetings!

[2018-03-10 22:30] #428 closed

[2018-03-10 23:41] dcharbonnier commented on #428
Thanks @smhk

[2018-03-12 13:01] maciej-gad-4pts opened #429 "Release of version 1.1 for swift 4"
Hi,

It looks like you forgot to release version 1.1 (tag 0.11.1) to Cocoapods, because on   https://cocoapods.org/?q=HanekeSwift I can see only previous version 0.10.1 (for Swift 2). Could you release it?

Currently if some wants to install new version should add to Podfile:

    pod 'HanekeSwift', :git => 'https://github.com/Haneke/HanekeSwift.git', :tag => 'v0.11.1'

[2018-03-13 06:17] #429 closed

[2018-03-14 10:28] ZhengXianda0512 opened #430 "I cant search 0.11.1 in pods"
I wanna use haneke in my project with swift4.
In "github/code/relrease" I see that I need 0.11.1
but it was not release in pods

[code]

[2018-03-14 12:50] dcharbonnier commented on #430
Please search issues before opening new ones

[2018-03-14 12:50] #430 closed

[2018-03-20 21:21] ZeranLatte commented on #319
My experience is that: HNK requires that your UIImageView or button has a non-zero CGSize at the time of setting image so the ImageResizer can use the size to do resizing work. You can get avoid the crash by initializing the ImageView with a default size in a closure. Then you can add autolayout constraints or use other method to layout.
[code]

[2018-05-14 10:50] Coder-younghao opened #431 "why version of cocoapods not latest?"

[2018-05-14 10:52] smhk commented on #431
I believe this project DOES NOT support "cocoapods" any more.

Just use Carthage, it is 1000x easier

[2018-05-14 11:00] dcharbonnier commented on #431
Exactly @smhk

[2018-05-14 11:00] #431 closed

[2018-05-22 13:21] emmekappa commented on #104
+1

[2018-06-26 03:24] HanniuCat opened #433 "Module compiled with Swift 4.0.3 cannot be imported in Swift 4.1.2"
I try to use CocoaPods or Carthage to update Haneke , but doesn't work.
So, when support the latest swift version?

[2018-06-28 13:49] aleene opened #435 "Deprecations"
I get warnings in CryptoSwiftMD5:

and

I guess:
[code]
solves this correctly.

[2018-07-31 12:54] tankista commented on #368
It is total nonsense that caching library does not support synchronous calls. I wish I had never used this library, authors are ignoring this for a long time now. It is very nice that they are enforcing asynchronous calls because <but whatever bullshit you want>, but there are situations where you simply must use synchronous calls. Even GCD can't be used, because their completion blocks are called

[2018-07-31 13:01] smhk commented on #368
Hi @tankista - can you help me understand in what situation you would want a blocking, synchronous call?  I'm not sure I understand ..   cheers!

[2018-07-31 13:06] tankista commented on #368
I am using image browser library that allow me to use custom caching and because I am using HanekeSwift to cache images, I wanted to provide it. However, their protocol supports synchronous method:

[code]

I have no other option but to load image synchronously. I tried to use GCD and dispatch groups, but Haneke is calling completion blocks on main thread which are already blocked by dispatch grou

[2018-07-31 13:11] smhk commented on #368
Hmm, it does seem pretty unusual that that library has only synchronous loading!!

Thanks for the explanation. I don't really know what the solution would be there.  Cheers

[2018-07-31 13:13] tankista commented on #368
@smhk well not everything is perfect on this world, and solution is mentioned in my comment above.

[2018-08-29 03:12] patthehuman commented on #244
why did you close this without answering the question?

[2018-09-11 20:08] bpollock-vida opened #437 "Neither 0.11.0 or 0.11.1 available via cocoapods"
pod 'HanekeSwift' results in:
Using HanekeSwift (0.10.1)

pod 'HanekeSwift', '=0.11.1' results in:
[!] CocoaPods could not find compatible versions for pod "HanekeSwift":
  In Podfile:
    HanekeSwift (= 0.11.1)

[2018-09-26 08:53] gzafra commented on #437
I have the same problem. @hpique @joanromano @Lascorbe @oriolblanc

[2018-10-04 12:25] dhavalyugtia opened #439 "Heneke Swift with alamofire"
i wan to make custom fetcher in HenekeSwift library which is capable oh handle api call with post method (i.e post request with data).i want to use Alamofier as network communication library.

[2018-11-26 07:37] koala99 commented on #437
I face the same question! how solve it

[2018-12-03 05:01] koala99 commented on #437
final I use pod 'HanekeSwift', :git => 'https://github.com/Haneke/HanekeSwift.git', :tag => 'v0.11.1'

[2018-12-17 11:12] peddamat commented on #437
@koala99 lifesaver!  thank you!

[2019-01-13 22:16] seldomseenkid commented on #368
Hi @smhk,

I'm evaluating Haneke and saw this thread.

Here's another use case for you - Apple's own NSFileProviderExtension.item(for identifier: NSFileProviderItemIdentifier). It requires you to resolve an id to a stored object, synchronously. The call won't involve a network fetch, is expected to block, and probably isn't running on the main thread.

This is me wanting to use Haneke as a disk-ba

[2019-01-28 21:55] canaksoy opened #441 "RIP"

[2019-01-29 01:48] smhk commented on #441
What does it mean please?

[2019-01-29 04:59] dvaldivia commented on #437
I'm getting a bunch of errores either with haneke `0.10.1` or `0.11.1` with proposed fix

[code]

Most of my errors seem related to Swift 4.2

[2019-02-17 17:42] aaveidt commented on #437
@dvaldivia no solution for swift 4.2? :(

[2019-03-10 05:36] bolee commented on #437
Can't build in Swift 4.2

[2019-03-18 05:54] tuppaware commented on #437
Change the pod's swift version 4 rather than 4.2 and it should compile although it will complain.

[2019-03-22 05:55] nkandregula opened #443 "Can't integrate updated version of library through pods which is supporting to swift 4.2 version"
When I am trying to integrate updated library with swift4.2 version through cocopods, It always fetching 0.10.1 older version of the library instead of the updated version. Could you please release the new version of the framework that is 0.11.1 which is supporting to swift 4.2 version?

[2019-03-22 06:08] nkandregula commented on #437
I have the same problem, I can't validate my podspec file as it has a Haneke dependency.

[2019-03-24 21:09] thewthew commented on #441
goodbye stranger

[2019-03-25 05:52] ahussain550 commented on #443
Can you please update the pod spec file with the latest release... i am also facing the same issue thanks.

[2019-04-15 21:10] patthehuman opened #445 "asdfasdf"
Honestly why would you use this framework? You can easily reproduce this logic by using local cache and about 10 lines of code.

[2019-04-17 13:08] nodediggity opened #446 "Cannot build on Swift 4"
I have added `pod 'HanekeSwift'` and it looks like it is installing` HanekeSwift (0.10.1)` however I cannot then compile my app as

<img width="474" alt="Screenshot 2019-04-17 at 14 07 21" src="https://user-images.githubusercontent.com/25435000/56290064-3f445e80-611a-11e9-88e4-2d303472a6f6.png">

[2019-04-17 13:43] nodediggity commented on #446
It seems `pod 'HanekeSwift', :git => 'https://github.com/Haneke/HanekeSwift.git', :tag => 'v0.11.1'` was a temp fix for now

[2019-04-17 13:43] #446 closed

[2019-04-17 20:43] arabfono opened #447 "crach on ios 12 and swift 5"
please its crach on swift 5 and ios 12 please fix it